<template>
  <div class="index">
    <!-- 侧边栏组件 -->
    <sliderPage v-on:indexState="indexStateLoad"></sliderPage>
    <!-- 主体页面 -->
    <div class="index-main" :style="mainC">
      <div class="index-main-box mainSetImageBg" :style="mainBg">
        <div class="index-main-opacity">
          <div class="iphoneX-main" id="iphoneX-main">
            <div class="index-carousel">
              <van-swipe :autoplay="3000">
                <van-swipe-item v-for="(banner,index) in bannners" :key="index" class="banner-list">
                  <router-link to="">
                    <img class="j-img" v-lazy="banner.img" :key="banner.img" @click="bannerHref(banner.href)" />
                  </router-link>
                </van-swipe-item>
              </van-swipe>
            </div>
            <div class="index-list">
              <ul class="index-list-ul">
                <li class="index-list-li" v-for="(mainList,index) in mainLists" :key="index" @click.stop="clickToHref(mainList.href,mainList.query,mainList.tt)">
                  <div class="list-li-outborder">
                    <div class="list-li-inborder">
                      <img v-lazy="mainList.img" :key="mainList.img" />
                    </div>
                  </div>
                  <div class="list-li-tt">
                    <span>{{mainList.tt}}</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="index-moves">
              <swiper :options="swiperOption">
                <swiper-slide v-for="(mainMove,index) in mainMoves" :key="index">
                  <div class="move-li-box" @click.stop="clickToHref(mainMove.href,mainMove.query,mainMove.tt)">
                    <span><img class="moveListImg" v-lazy="mainMove.img"  :key="mainMove.img" /></span>
                  </div>
                  <div class="list-li-tt" @click.stop="clickToHref(mainMove.href,mainMove.query,mainMove.tt)">
                    <span>{{mainMove.tt}}</span>
                  </div>
                </swiper-slide>
              </swiper>
            </div>
            <div class="index-weather-adress" @click.stop="clickToHref(weatherHref,weatherPageId,'')">
              <div class="adress" @click.stop="clickToHref(weatherHref,weatherPageId,'')">
                <span><i class="iconfont icon-location"></i></span>
                <span>{{wetherAdress}}</span>
              </div>
              <div class="weather" @click.stop="clickToHref(weatherHref,weatherPageId,'')">
                <div class="weather-icon">
                  <img class="weather-img" :src="wetherImg" />
                </div>
                <div class="weather-num" @click.stop="clickToHref(weatherHref,weatherPageId,'')">
                  <div class="weather-temp"><span>{{wetherCurrTemp}}</span><sup class="weather-sup">{{tempIcon}}</sup></div>
                  <div class="weather-time">
                    <span class="timeWeek">{{wetherNowWeek}}</span>
                    <span class="timeWeek">{{wetherNowYear}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="banner-footer" style="">
              <div>Powered by Panora</div>
              <div>http://www.panora.com.cn</div>
            </div>
          </div>
          
          <div class="iphoneX-footer" id="iphoneX-footer"></div>
        </div>
      </div>
      <div class="common-left-icon">
        <div class="common-bottom-left"  @click="showA">
          <i class="iconfont icon-list"></i>
        </div>
        <div class="common-bottom-right">
          <cartPage></cartPage>
        </div>
      </div>
    </div>
    <!-- 侧边栏显示时，覆盖主页面，点击时隐藏侧边栏 -->
    <div class="slider-common" @click="showA">
    </div>
  </div>
</template>


<script>
  import sliderPage from "../../../components/indexSlider.vue";
  import cartPage from "../../../components/cartPage.vue";
  import "swiper/dist/css/swiper.css";
  import {
    swiper,
    swiperSlide
  } from "vue-awesome-swiper";
  export default {
    name: "index",
    components: {
      sliderPage,
      cartPage,
      swiper,
      swiperSlide
    },
    data() {
      return {
        mainC: {
          width: "7.5rem" // 主页面宽度设置
        },
        logoImg: "", // logo图片设置
        timerSet: "", // y=2 产品列表页移动定时器
        moveUlWidth: "35rem", //
        wetherAdress: "shanghai", // 当前地理位置
        wetherImg: "", // 天气图片
        wetherCurrTemp: "", // 当前温度
        tempIcon: "",
        wetherNowWeek: "", // 当前时间
        wetherNowYear: "", // 当前时间
        weatherHref: "/weatherDetail", // 天气页面的跳转
        weatherPageId: "", // 天气链接的id值
        mainBg: {
          background: ""
        }, // 设置背景图片, // 主页面背景图片设置
        bannners: [], // banner图片
        mainLists: [], // 第二排数据(icon)
        mainMoves: [], // 第三排移动数据(pro)
        languageChange: "en",
        bannerHrefArr: [],
        moveDistance: 0,
        animate: false,
        swiperOption: {
          // width:300,
          loop: false,
          slidesPerView: 3.4,
          spaceBetween: 0,
          slidesPerGroup: 3,
          sliderTest:"",
          pagination: {
            el: ".swiper-pagination",
            clickable: false    

          }
        }
      };
    },
    mounted: function() {
      ////this.isIPhoneX("iphoneX-main","iphoneX-footer");   // iphoneX适配问题
      let getBgImagesUrl = localStorage.getItem("bgImgUrl"); // 存储背景图片链接
      if (getBgImagesUrl) {
        this.mainBg.background =
          "url(" + getBgImagesUrl + ") no-repeat 100% 100%"; // 加载背景图片
        this.ImgWidthHeight(getBgImagesUrl, this.mainBg); //设定背景图片
      } else {
        $(".index-main-opacity").css("background", "rgba(22,62,53,1)");
      }
      this.indexLoad(); // 页面首次加载进来的时候
    },
    methods: {
      clickToHref: function(href, pageIdArr, title) {
        // 点击跳转链接
        if (href && pageIdArr) {
          localStorage.setItem("sliderTitle", title); // 设定标题名称
          this.$router.push({
            name: href,
            query: {
              pageId: pageIdArr
            }
          });
        }
      },
      showA: function() {
        // 主页面与侧边栏左右滑动
        if (this.mainC.width == "7.5rem") {
          this.mainC.width = "2.3rem"; // 主屏幕宽度
          $(".index-slider").fadeIn(1000); // 侧边栏显示
          $(".slider-common").css("display", "block"); // 显示侧边栏弹框
        } else {
          this.mainC.width = "7.5rem"; // 主屏幕宽度
          $(".index-slider").fadeOut(1000); // 侧边栏隐藏
          $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
        }
      },
      indexLoad: function() {
        let _this = this;
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let logoImgUrl = localStorage.getItem("logoImgURL"); // 获取logo的链接地址
        let restaurantId = localStorage.getItem("restaurantId"); // 获取restaurantId
        let countrySet = localStorage.getItem("countrySet"); // 国家设置
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        _this.languageChange = languageSet; // 设定中英文的状态
        if (logoImgUrl) {
          _this.logoImg = logoImgUrl; // 获取logo图片
        }
        getAllJson(); // 获取信息
        function getAllJson() {
          _this.axios
            .get(
              // 时间获取接口
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/butler_homepage/?" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                // 获取总的数据信息，确定坐标位置
                console.log("banner",sucss.data.data);
                let bannerList = []; // banner
                let iconList = []; // 展示列表页
                let proList = []; // 产品列表页
                let weaList = []; // 天气
                let DataIndex = sucss.data.data; // 获取数据
                let blocksData = DataIndex.homepage.blocks; // 获取模块的总数据
                for (let i = 0; i < blocksData.length; i++) {
                  let localY = blocksData[i].y; // 确定竖排坐标的位置
                  if (!localY) {
                    localY = 0; // 索引为零
                  }
                  if (localY == 0) {
                    bannerList.push(blocksData[i]); // banner
                  } else if (localY == 1) {
                    iconList.push(blocksData[i]); // 展示列表页
                  } else if (localY == 2) {
                    proList.push(blocksData[i]); // 产品展示页
                  } else if (localY == 3) {
                    weaList.push(blocksData[i]); // 天气
                  }
                }
                // banner图片加载
                getBannerImg(bannerList);
                // 获取y=1 icon图标列表页的数据，批量处理
                let iconData = getPageIdStr(iconList); // 获取id 值
                getListJson(iconData, iconList, "icon");
                // 获取y=2 产品列表页的数据，批量处理
                let proListData = getPageIdStr(proList); // 获取id 值
                getListJson(proListData, proList, "prolist");
                // 天气列表页，批量处理
                getWeather(weaList);
              }
            });
        }
        // banner图片加载（y=0）
        function getBannerImg(bannerList) {
          let bannerImages = bannerList[0].backgroundImages; // banner图片数据
          let brLen = bannerImages.length; // banner图片长度
          let bannerArr = [];
          for (let br = 0; br < brLen; br++) {
            let listImgId = bannerImages[br].internalImageId; // banner 图片id
            if (allImagesObj) {
              // 图片列表存在
              let imgUrl = allImagesObj[listImgId].internal_image_url; // 赋值图片列表页
              let imgUrlJson = {
                img: imgUrl,
                href: ""
              };
              bannerArr.push(imgUrlJson); // 加载banner 图片
            }
          }
          _this.bannners = bannerArr; // 赋值给产品列表页
          getBannerPageId(); // 获取banner跳转的对应的pageId
        }
        // 天气列表页，批量处理(y=3)
        function getWeather(weaList) {
          let proPageId = weaList[0].pageId;
          _this.axios
            .get(
              // 时间获取接口
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/" +
              proPageId +
              "/?" +
              _this.$root.junAppName +
              ""
            )
            .then(function(sucss) {
              // 天气列表页数据获取
              let weaData = sucss.data.data; // 获取当前id 的数据
              let weaPageId = weaData.id; // 对应的页面的id值
              let adress = weaData.translates[languageSet].title; // 当前的地理位置
              let todayWeaData = weaData.weather_data.today; // 获取当天的数据
              let currTemp = todayWeaData.temp_curr; // 当前显示的温度
              let nowTimeY = todayWeaData.days; // 时间
              let imgId = todayWeaData.weatid; // 获取天气图片的id值
              imgId = parseInt(imgId);
              if (_this.languageChange == "en") {
                nowTimeY = nowTimeY
                  .split("-")
                  .reverse()
                  .join("/");
              } else {
                nowTimeY = nowTimeY.split("-").join("/");
              }
              let nowWeek = todayWeaData.week; // 周几
              let imgUrlWea = require("../../../../src/assets/images/weatherIcon/" +
                imgId +
                ".png"); // 图片链接地址
              _this.wetherAdress = adress; // 当前地理位置
              _this.wetherImg = imgUrlWea; // 天气图片
              _this.wetherCurrTemp = currTemp; // 当前温度
              _this.tempIcon = "℃";
              let tempSateChange = localStorage.getItem("tempSateChange"); // 判断华氏度还是摄氏度
              if (tempSateChange && tempSateChange != "small") {
                // 华氏度
                let num = parseFloat(currTemp);
                currTemp = 32 + currTemp * 1.8; // 摄氏度转换成华氏度
                currTemp = currTemp.toFixed(1); // 华氏度保留一位效数
                _this.wetherCurrTemp = currTemp; // 当前温度
                _this.tempIcon = "℉";
              }
              _this.wetherNowWeek = _this.changeLanguageWeek(nowWeek); // 周几
              _this.wetherNowYear = nowTimeY; // 日期
              _this.weatherHref = "weatherDetail"; // 跳转页面
              _this.weatherPageId = weaPageId; // 页面对应的id 值
            });
        }
        // 请求图片地址
        function getImgUrl(List) {
          let imgUrlArr = []; // 图片地址
          for (let i = 0; i < List.length; i++) {
            let imgURLId = List[i].backgroundImages[0].internalImageId; // 获取图片id值
            let imgUrlList = "";
            if (imgURLId) {
              if (allImagesObj) {
                imgUrlList = allImagesObj[imgURLId].internal_image_url; // 获取图片的链接
              }
            }
            imgUrlArr.push(imgUrlList); // 存储imgUrL地址
          }
          return imgUrlArr;
        }
        // 获取对应的列表信息
        function getListJson(json, iconList, type) {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                let imgAllUrl = getImgUrl(iconList); // 获取图片信息
                console.log("imgAllUrl",imgAllUrl);
                let jsonData = sucss.data.data; // 获取数据
                console.log("jsonData",jsonData);
                let firstPageIdArr = []; // 第一个pageId的值
                let arrAll = []; //存储数据
                for (let j = 0; j < jsonData.length; j++) {
                  let infoListIdArr = jsonData[j].infoListIds; // 获取页面对应的pageId的数据
                  let titleLang = jsonData[j].translates[languageSet].title; // 获取图片列表的
                  let imgUrlId = "";                  
                 
                  let imgUrlBg = imgAllUrl[j]; // 图片连接地址
                  if (!imgUrlBg) {
                    if(jsonData[j].categoryImage){
                      imgUrlId = jsonData[j].categoryImage[0].internalImageId; // 获取图谱片id值
                    }
                    if (allImagesObj && imgUrlId) {
                      imgUrlBg = allImagesObj[imgUrlId].internal_image_url; // 图片连接地址
                    }
                  }
                   console.log("imgUrlId",imgUrlId);
                  if (infoListIdArr.length > 0) {
                    firstPageIdArr.push(infoListIdArr[0]); // 首个pageId值汇总
                  }
                  let keyJson = {
                    img: imgUrlBg, // 图片显示的状态
                    href: "", // 跳转页面的地址接口
                    tt: titleLang, // 图片对应的title名称
                    query: infoListIdArr // 二级菜单信息
                  };
                  arrAll.push(keyJson); // 图标数据的数组
                }
                let json = firstPageIdArr.join(",");
                if (type == "icon") {
                  _this.mainLists = arrAll; // 赋值给图标信息（渲染到页面上）
                  getPageId(json, "icon");
                } else if (type == "prolist") {
                  let proListArr = []; // 产品列表页初始化数据
                  if (arrAll.length > 3) {
                    _this.mainMoves = arrAll; // 渲染到页面上的数据
                    _this.moveUlWidth = _this.mainMoves.length * 2.5 + "rem"; // ul列表的长度
                    // _this.moveListIndex(); // 产品列表默认移动
                  } else {
                    proListArr = arrAll;
                    _this.mainMoves = proListArr; // 渲染到页面上的数据
                    _this.moveUlWidth = _this.mainMoves.length * 2.5 + "rem"; // ul列表的长度
                  }
                  getPageId(json, "prolist");
                }
              }
            });
        }
        // 给对应的数据赋值href
        function getPageId(json, type) {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                let jsonData = sucss.data.data; // 获取数据
                let jsonDataAll = ""; //
                if (type == "icon") {
                  setArr(jsonData, _this.mainLists); // 赋值对应数据的href
                } else if (type == "prolist") {
                  setArr(jsonData, _this.mainMoves); // 赋值对应数据的href
                }
              }
            });
        }
        // 获取href的值
        function setArr(arr1, arr2) {
          let arrLen = arr1.length; // 获取当前数组的长度
          for (let k = 0; k < arrLen; k++) {
            let type = arr1[k].subpage_type; //获取type 类型
            let subHref = "";
            if (type) {
              subHref = _this.getTypeHref(type); // 调取全局函数，确定type类型对应的数据
              if (subHref) {
                arr2[k].href = subHref; // 赋值链接
              } else {
                arr1.splice(k, 1); // 链接不存在，移除
                arr2.splice(k, 1); // 链接不存在，移除
                k--;
              }
            } else {
              arr2[k].href = subHref; // 赋值链接
              arr1.splice(k, 1); // 链接不存在，移除
              arr2.splice(k, 1); // 链接不存在，移除
              k--;
            }
          }
        }
        // 批量提取pageId(针对y=1&icon,y=2&prolist)
        function getPageIdStr(arr) {
          // 数组转换成json数据
          let pageIdArr = []; // 初始化数据
          for (let i = 0; i < arr.length; i++) {
            let pageId = arr[i].pageId; // 获取pageId值
            pageIdArr.push(pageId);
          }
          let pageIdArrStr = pageIdArr.join(",");
          return pageIdArrStr;
        }
        // 获取banner对应的pageID
        function getBannerPageId() {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/search/?" +
              _this.$root.junAppName +
              "&lang_agnostic_id=banner_test&page_type=info_list"
            )
            .then(
              function(sucss) {
                if (sucss.data.ret == "200") {
                  let bannerData = sucss.data.data; // 获取banner对应的数据
                  console.log("bannerData",bannerData);
                  let bannerPageIdArr = bannerData.infoPageIds; // 获取banner 对应的pageId
                  let bannerPageIdStr = bannerPageIdArr.join(",");
                  getBnnarPageHref(bannerPageIdStr);
                }
              },
              function(err) {}
            );
        }
        // 获取banner对应的href
        function getBnnarPageHref(json) {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                let pageHrefArr = sucss.data.data; // 获取数据
                let arr = [];
                for (let i = 0; i < pageHrefArr.length; i++) {
                  let pageHref = pageHrefArr[i].link.externalLink;
                  _this.bannners[i].href = pageHref; // 给banner 对应的id 赋值
                }
              }
            });
        }
      },
      indexStateLoad: function(data) {
        if (data == "true") {
          this.mainC.width = "7.5rem"; // 主屏幕宽度
          $(".index-slider").fadeOut(1000); // 侧边栏隐藏
          $(".slider-common").css("display", "none"); // 隐藏侧边栏弹框
        }
      },
      bannerHref: function(href) {
        if(href){
           window.location.href = href; // banner对应跳转的页面
        }
      },
      changeLanguageWeek: function(weekDay) {
        let nowWeekDay = weekDay;
        if (this.languageChange == "en") {
          if (weekDay == "星期一") {
            nowWeekDay = "Mon.";
          } else if (weekDay == "星期二") {
            nowWeekDay = "Tues.";
          } else if (weekDay == "星期三") {
            nowWeekDay = "Wed.";
          } else if (weekDay == "星期四") {
            nowWeekDay = "Thus.";
          } else if (weekDay == "星期五") {
            nowWeekDay = "Fri.";
          } else if (weekDay == "星期六") {
            nowWeekDay = "Sat.";
          } else if (weekDay == "星期日") {
            nowWeekDay = "Sun";
          }
        }
        return nowWeekDay;
      }
    },
    destroyed: function() {}
  };
</script>


<style src="../css/index.scss" lang="scss" scoped>

</style>


