.adressCreat{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    .adressCreat-main{
        float:left;
        width: 100%;
        height: auto;
        background: #fff;
        border-top:0.12rem solid rgba(10, 35, 99, 0.9);
        font-size: 0.32rem;
        color: #191814;
    }
    .main-ul{
        float:left;
        width:7.2rem;
        margin-left: 0.15rem;
        height: auto;
        .main-li{
            float:left;
            width:100%;
            height: auto;
            min-height: 1rem;
            border-bottom:0.02rem  solid #C4C4C4;
            box-sizing: border-box;
            color:#191814;
            .tt, .text{
                float:left;
                width:auto;
                height: auto;
                text-align: left;
            }
            .tt{
                line-height: 1rem;
                margin-right: 0.1rem;
                width:1.5rem;
            }
            .text{
                width:5.5rem;
            }
            .adressCode{
                width:2rem; 
            }
            .adressCodeText{
                width:5rem;
            }
            .name{
                    float:left;
                    width:100%;
                    height: 0.8rem;
                    border:0;
                    margin: 0.1rem 0;
                    line-height: 0.8rem;
                }
           
        }
        .tt-adress{
            .text{
                .textarea{
                    width:5.5rem;
                     height: 1.2rem;
                    line-height: 0.4rem;
                    margin: 0;
                    resize: none;
                    border:0;
                    margin: 0.1rem 0;
                    padding:0.05rem 0;
                    word-break: break-all;
                }
            }
        }
        .tt-set{
            border:0;
            line-height: 1rem;
            .tt{
                width:0.5rem;
            }
            .iconfont{
                color:#000;
                font-size: 0.32rem;
            }
            .icon-choice{
                color:#d2ac2b;
            }
        }

    }

}
.adressEdit{
    .adressCreat-main{
        height: auto;
        padding-bottom:0.2rem;
        overflow: auto;
    }
    .header-li-right{
        font-weight: lighter;
        color: #EAEAEA;
    }
    .adress-delete{
        position: absolute;
        left:50%;
        top: 50%;
        width:6.2rem;
        height: 3.26rem;
        margin-left: -3.2rem;
        margin-top: -1.63rem;
        background: rgba(252,252,252,1);
        border-radius: 0.24rem;
        .order-model-main{
            margin:auto;
            width:6.2rem;
            height:1rem;
            font-size:0.32rem;
            line-height:1.5rem;
            margin:0.58rem 0;
            font-weight: normal;
            p {
                line-height: 0.5rem;
                color: #191814;
            }
        }
        .order-model-footer{
            float:left;
           width:100%;
           height: 0.99rem;
           border-top: 0.01rem solid #C0C0C5;
           .model-li {
               float:left;
               width:50%;
               height: 100%;
               box-sizing: border-box;
               .btn{
                   width: 100%;
                   height: 100%;
                   border:0;
                   background: rgba(0,0,0,0);
                   font-size: 0.28rem;
                   font-weight: bold;
                   color:#191814;
               }
               .order-yes-btn a{
                color: #D2AC2B;
               }
           }
           .order-no{
               border-right: 0.01rem solid #C0C0C5;
           }
    
        }
    }
}

