<template>
  <div class="serviceDetail">
    <div class="ball" id="div"></div>
     <div class="iphoneX-main" id="iphoneX-main-productD">
      
        <div class="product-main" id="productDetailMain">
              
          <div class="product-mianly">
            <div class="proDetail-main-top">
              <img class="proDetail-img" v-lazy="proDeatilImg" :key="proDeatilImg" />
            </div>
            <ul class="proDetail-main-des">
              <li class="des-li des-tt">
                <div class="des-tt-name">{{proDeTitle}}</div>
                <div class="des-tt-price">{{proDePrice}}</div>
              </li>
              <li class="des-li des-tt">
                <div class="des-service-name">{{deliver}}{{delver_note}}</div>
                <div class="des-service-time"  @click="chiceDayTime();">
                   
                  <span>{{deliveryLater}} 
                    <i class="iconfont icon-next"></i>
                  </span>
                
                </div>
                
              </li>
     
              <li class="des-li" v-show="shortDesShow">
                <h4 class="des-li-desTt">{{proDeShortDesTt}}</h4>
                <div class="des-li-p">{{proDeShortDes}}</div>
              </li>
              <li class="des-li" v-show="longDesShow">
                <h4 class="des-li-desTt">{{proDeLongDesTt}}</h4>
                <div class="des-li-p">{{proDeLongDes}}</div>
              </li>
              <li class="des-li des-recommend-box" v-show="recommendShow">
                <h4 class="des-li-desTt">{{proDeRecommended}}</h4>
                <ul class="des-recommend">
                  <li class="des-red-li" v-for="(desReg,index) in desRegs" :key="index" @click="jumpRec(index)">
                    <div class="li-img">
                      <img class="li-images" v-lazy="desReg.img" :key="desReg.img" />
                    </div>
                    <div class="li-tt">
                      <h3 class="li-tt-title">{{desReg.name}}</h3>
                      <h4 class="li-tt-des">{{desReg.des}}</h4>
                    </div>
                  </li>
                </ul>
              </li>

              
            </ul>
           
            
            <!-- 底部按钮 -->
            <div class="proDetail-main-bottom">
               <van-button  size="large" class="serviceButton" @click="confirmDeliver">{{confirmTime}}</van-button>
            </div>
            
          
          </div>
         
        </div>

        <div class="common-left-icon">
            <div class="common-bottom-left"  @click="jumpProduct">
              <i class="iconfont icon-back1"></i>
            </div>
            <div class="common-bottom-right" id="cartPosition">
              <cartPage ref="cartpage"></cartPage>
            </div>
        </div>
     </div>

      <!-- 选择时间 -->
      <div class="common-model" v-show="choiceTime">
        <van-popup class="later-time" v-model="choiceTime" position="bottom" :overlay="false">
          <div class="deliver-top">
            <div class="deliver-top-tt">{{deliveryLater}}</div>
            <div class="deliver-close" @click.stop="closeNowTime"><i class="iconfont icon-cancel1"></i></div>
          </div>
          <ul class="deliver-pick-time date-day">
              <li class="deliver-day-li"
              v-for="(monDay,index) in monDays" 
              :key="index" v-bind:class="{'day-active':monDay.state}" @click="changeDay(index)">{{monDay.time}}</li>
          </ul>
          <ul class="deliver-pick-time data-hour">
              <li class="deliver-hour" v-for="(hourMin, index) in hourMins" 
              v-bind:class="{'day-active':hourMin.state}" :key="index" @click="changeHour(index)">
                <div class="hour-min">{{hourMin.time}}</div> 
                <div class="sure" v-show="hourMin.state"><i class="iconfont icon-default"></i></div>
              </li>
          </ul>
          <div class="deliver-time-box" @click="confirmDeliver">
            <button class="deliver-time-confirn">{{confirmTime}}</button>
          </div>
        </van-popup>
      </div>


      <div class="cartModel" v-show="cartModelShow">
      <div class="cartModel-content">
        <h1 class="cartModel-close">
          <span @click="cartModelClose"><i class="iconfont icon-cancel1"></i></span>
        </h1>
        <ul class="cartModel-ul">
          <li class="cartModel-li" v-for="(choiceItem,index) in choiceItems" :key="index" @click="choiceAdress(index)">{{choiceItem.name}}</li>
        </ul>
      </div>
    </div>
    <div class="cartModel" v-show="cartModelShowRoom">
      <div class="cartModel-content cartModelRoomNum">
        <h1 class="cartModel-close">
          <span @click="roomBtnClose"><i class="iconfont icon-cancel1"></i></span>
        </h1>
        <div class="cartModel-input-box">
          <div class="cartModel-input-li">
            <input class="cartModel-input" type="text" :placeholder="roomNumPla" v-model="roomNum" />
          </div>
          <div class="cartModel-input-li">
              <input class="cartModel-input" type="text " :placeholder="roomTelPla" v-model="roomTel"/>
          </div>
          <div class="cartModel-input-li">
            <input class="cartModel-input" type="text" :placeholder="roomNamePla" v-model="roomName" />
          </div>
        </div>
        <button class="roomNumBtn" @click="roomNumButton">{{roomNumBtn}}</button>
      </div>
    </div>


  
  </div>
  
</template>

<script>
import cartPage from "../../../components/cartPage.vue";

export default {
  name: "serviceDetail", // 服务详情页
  components: {
    cartPage // 购物车
  },
  data() {
    return {
      productDetailTt: "", // 标题名称
      proDeatilImg: "", // 主图
      proModelShow: false, // 显示购物信息
      proDeTitle: "Room Clean", //服务名称
      proDePriceNumber: "", // 单价的数值
      moneyImgIcon: "￥", // 货币符号
      proDePrice: "", //价格
      // proDeNumTt: "Quantity", // 数量标题
      proDeNum: 1, // 数量
      proDeShortDesTt: "Short Description", // 简介
      proDeShortDes: "", // 简介信息（短描述）
      proDeLongDesTt: "Long Description", // 详情
      proDeLongDes: "", // 详情信息（长描述）
      proDeRecommended: "Recommended With", //推荐
      // proDeAddCart: "Add to Cart", // 加入购物车
      // isShowCart: true, // 购物车弹框是否弹出
      productId: "", // 产品id
      variants: [], // 产品的配置信息
      modelPrice: "", // 单价
      btnConfirm: "", // model btn
      adds: [], // 产品配置信息
      desRegs: [], // 推荐产品
      productDetailPageId: [], // 导航id
      shortDesShow: false,
      longDesShow: false,
      recommendShow: false,
      languageSetting: "En",
      deliver: "",
      delver_note: "",
      deliveryLater: "",
      minHour: 10,
      maxHour: 20,
      minDate: new Date(),
      maxDate: new Date(2019, 10, 1),
      currentDate: new Date(),
      choiceTime: false,
      monDays: [],
      hourMins: [],
      nowToday: "",
      nowTimeHour: "",
      yearIndex: 0, // 选中的所引值
      hourMinIndex: 0, // 选中的所引值
      scheduleTime: "", //计划时间
      scheduleTimeHour: "", // 计划时间
      expectedDelivery: 0,
      confirmTime: "",
      todayTime: "",
      confirmOrderMoney: false, //支付方式是否显示

      cartModelShow: false, // 房间和地址的选择框
      cartModelShowRoom: false, // 房间模块的弹出框
      roomName: "", //姓氏
      roomTel: "", // 电话号码
      roomNamePla: "请输入您的姓",
      roomTelPla: "请输入您的电话",
      roomNum: "", //房间号码
      roomNumPla: "请输入房间号",
      roomNumBtn: "确认",
      choiceItems: [
        {
          name: "酒店房间"
        },
        {
          name: "酒店其他位置"
        }
      ],
      roomNamePla: "请输入您的姓(不输入为匿名)",
      roomTelPla: "请输入您的电话",
      roomNumPla: "请输入房间号",
      roomNumBtn: "确认",
      btnNext: "确认",
      totalPayText: "总付款：",
      wholeRes: "整体订单的备注：", //整体订单的备注
      cartOrderNote: "对该商品的任何特殊要求", // 单个商品的备注
      dialogMessageGoods: "请选择商品！", // 请选择商品
      dialogBtn: "确认", // 确认
      mobileWrong: "手机号有误", // 手机号有误
      NameNull: "匿名", //匿名
      roomWrong: "房间号不正确！",
      langAgnosticId: "",
      wholeResText: "服务订单"
    };
  },
  mounted: function() {
    this.isIPhoneX("iphoneX-main-productD", ""); // iphoneX适配问题
    this.productDeatilLoad(); // 加载该页面的信息
    this.initTime(); // 初始化时间
    this.initHourMin();
  },
  methods: {
    productDeatilLoad: function() {
      let _this = this; // 信息加载
      let proDetailData = localStorage.getItem("proDetailData"); // 设定该商品信息
      let proDetailDataJson = JSON.parse(proDetailData); // 商品信息

      console.log("proDetailDataJson", proDetailDataJson);
      let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
      let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
      let phoneNum = localStorage.getItem("phoneNum"); // 获取当前登录的手机号
      _this.langAgnosticId = proDetailDataJson.langAgnosticId;
      if (phoneNum) {
        this.roomTel = phoneNum; // 赋值手机号
      }
      if (!moneyImg) {
        moneyImg = "￥"; // 获取符号不存在时，默认为人民币
      }
      _this.moneyImgIcon = moneyImg; //货币符号
      if (!languageSet) {
        languageSet = "en"; // 语言不存在的时候 默认为为英文
      }
      this.languageSetting = languageSet; // 语言设定
      let pageIdArr = _this.$route.query.pageId; // 获取当前页面上的pageID
      if (pageIdArr) {
        _this.productDetailPageId = pageIdArr; //路由id
      }
      setJsonData(proDetailDataJson); // 设置信息列表
      function setJsonData(proDetailDataJson) {
        if (proDetailDataJson) {
          let productDeTran = proDetailDataJson.translates[languageSet];
          _this.proDeTitle = productDeTran.title; //产品名称
          let shortDesData = productDeTran.description; //该产品的短描述
          if (shortDesData) {
            _this.proDeShortDes = shortDesData; //该产品的短描述
            _this.shortDesShow = true;
          } else {
            _this.shortDesShow = false;
          }
          let longDes = productDeTran.additionalMessages; // 获取长描述的json
          if (longDes) {
            _this.proDeLongDes = longDes[0].message; //该产品的长描述
            _this.longDesShow = true;
          } else {
            _this.longDesShow = false;
          }

          if (proDetailDataJson.defaultPriceInMill != "0") {
            let proDePriceNum = proDetailDataJson.defaultPriceInMill / 1000;
            _this.proDePrice = moneyImg + proDePriceNum; //价格
            _this.proDePriceNumber = proDePriceNum; // 产品价格的数值
          }

          if (allImagesObj) {
            let imgId = proDetailDataJson.defaultImage.internalImageId; // 图片的id地址
            if (imgId) {
              _this.proDeatilImg = allImagesObj[imgId].internal_image_url; // top/banner图片设置
            }
          }
          if (languageSet == "en") {
            // 英文状态下
            // _this.proDeNumTt = "Quantity"; // 数量标题
            _this.proDeShortDesTt = "Short Description"; // 简介
            _this.proDeLongDesTt = "Long Description"; // 标题描述
            _this.proDeRecommended = "Recommended With"; //推荐
            _this.proDeAddCart = "Add to Cart"; // 加入购物车
            _this.btnConfirm = "Confirm"; // 弹框确认按钮
            _this.productDetailTt = "Details"; // 标题名称
            _this.deliver = "Deliver now";
            _this.delver_note = "(Estimited in 30 min)";
            _this.deliveryLater = "Later time";
            _this.confirmTime = "Confirm";
            _this.scheduleTime = "Service start";
            _this.scheduleTimeHour = "(Estimited in 30 min)";
            _this.nowTimeHour = "Deliver now";
            _this.nowToday = "Today";
            // _this.totalAmountText = "Total Amount";
          } else if (languageSet == "zh-cn") {
            // 中文状态下
            // _this.proDeNumTt = "数量"; // 数量标题
            _this.proDeLongDesTt = "长描述"; // 标题描述
            _this.proDeShortDesTt = "短描述"; // 简介
            _this.proDeRecommended = "相关推荐"; //推荐
            _this.proDeAddCart = "加入购物车"; // 加入购物车
            _this.btnConfirm = "确认"; // 弹框确认按钮
            _this.productDetailTt = "详情"; // 标题名
            _this.deliver = "立刻服务";
            _this.delver_note = "（约30分钟开始）";
            _this.deliveryLater = "选择时间";
            _this.confirmTime = "确认";
            _this.scheduleTime = "服务时间";
            _this.scheduleTimeHour = "(约30分钟送达)";
            _this.nowToday = "今天";
            _this.nowTimeHour = "立即送出";
            // _this.totalAmountText = "总价";
            _this.roomNamePla = "请输入您的姓(不输入为匿名)";
            _this.roomTelPla = "请输入您的电话";
            _this.roomNumPla = "请输入房间号";
            _this.roomNumBtn = "确认";
            _this.btnNext = "确认";
            _this.totalPayText = "总付款：";
            _this.wholeRes = "整体订单的备注："; //整体订单的备注
            _this.cartOrderNote = "对该商品的任何特殊要求"; // 单个商品的备注
            _this.dialogMessageGoods = "请选择商品！"; // 请选择商品
            _this.dialogBtn = "确认"; // 确认
            _this.mobileWrong = "手机号有误"; // 手机号有误
            _this.NameNull = "匿名"; //匿名
            _this.roomWrong = "房间号不正确！";
          }

          _this.productId = proDetailDataJson.langAgnosticId; // 产品的langAgnosticId信息
          let recommendPageIdArr = proDetailDataJson.relatedMerchandiseIds; // 相关推荐
          if (recommendPageIdArr) {
            let recStr = recommendPageIdArr.join(","); // 解析pageId为字符串
            getRecomArr(recStr); // 调取推荐列表的信息
            _this.recommendShow = true;
          } else {
            _this.recommendShow = false; // 推荐列列表不存在，隐藏
          }
        }
      }
      function getRecomArr(str) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              str +
              "&" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let recData = sucss.data.data;
              let recArr = []; // 相关推荐信息
              for (let i = 0; i < recData.length; i++) {
                let recDataList = recData[i];
                let recTitle = recData[i].translates[languageSet].title; //产品名称
                let recImgUrl = "";
                let recPrice = moneyImg + recData[i].defaultPriceInMill / 1000; //价格
                if (allImagesObj) {
                  let recImgId = recData[i].defaultImage.internalImageId; // 图片的id地址
                  if (recImgId) {
                    recImgUrl = allImagesObj[recImgId].internal_image_url; // top/banner图片设置
                  }
                }
                let json = {
                  img: recImgUrl, // 相关推荐的图片链接地址
                  href: "product",
                  name: recTitle, // 相关推荐的名称
                  des: recPrice, // 相关推荐的价格
                  recDataListJson: JSON.stringify(recDataList) // 当前产品的信息
                };
                recArr.push(json); // 推荐列表数据汇总
              }
              _this.desRegs = recArr; //推荐列表页数据渲染
            }
          });
      }
    },

    //选择年月日
    changeDay: function(index) {
      if (index == 0) {
        console.log("asasasasa");
        this.initHourMin();
        this.hourMinIndex = index; // 选中的所引值
      } else {
        this.initHourAll();
      }
      for (let i = 0; i < this.monDays.length; i++) {
        this.monDays[i].state = false;
      }
      this.monDays[index].state = true;
      this.yearIndex = index; // 选中的所引值
    },
    // 选择小时
    changeHour: function(index) {
      for (let i = 0; i < this.hourMins.length; i++) {
        this.hourMins[i].state = false;
      }
      this.hourMins[index].state = true;
      this.hourMinIndex = index; // 选中的所引值
    },
    chiceDayTime: function() {
      this.choiceTime = true; // 打开时间选择
    },
    confirmDeliver: function() {
      this.choiceTime = false; // 关闭时间时间选择
      if (this.yearIndex == 0 && this.hourMinIndex == 0) {
        this.deliveryTime = this.nowTimeHour; // 立即送出

        this.deliveryWarn = this.scheduleTimeHour;
        this.expectedDelivery = 0;

        let userLogin = localStorage.getItem("userLogin"); // 判断是否已经登录
        if (userLogin && userLogin == "true") {
          // 选中的商品存在，并且已经登录，弹出选择地址
          this.cartModelShow = true;
        } else {
          this.$router.push({
            path: "/signIn"
          }); // =跳转到登录页面
          localStorage.setItem("signRouter", "/serviceDetail"); // 设定登录成功之后跳转的路径
        }
      } else {
        let year = this.monDays[this.yearIndex].time;
        let hour = this.hourMins[this.hourMinIndex].time;
        this.deliveryWarn = year + " " + hour;
        this.deliveryTime = this.scheduleTime; // 送达时间
        if (this.yearIndex == 0 && this.hourMinIndex != 0) {
          year = this.todayTime;
        }
        let timeY = year + " " + hour + ":" + "00";
        var timestamp2 = Date.parse(new Date(timeY));
        this.expectedDelivery = parseInt(timestamp2) * 1000;
        let userLogin = localStorage.getItem("userLogin"); // 判断是否已经登录
        if (userLogin && userLogin == "true") {
          // 选中的商品存在，并且已经登录，弹出选择地址
          this.cartModelShow = true;
          // this.serviceAdd();
        } else {
          this.$router.push({
            path: "/signIn"
          }); // =跳转到登录页面
          localStorage.setItem("signRouter", "/serviceDetail"); // 设定登录成功之后跳转的路径
        }
        console.log("this.expectedDelivery", this.expectedDelivery);
      }
    },
    closeNowTime: function() {
      this.choiceTime = false; // 关闭时间时间选择
    },
    initTime: function() {
      let arr = this.getMonth(); // 获取日期
      let arrYear = arr[0]; // 获取日期
      let arrHour = arr[1]; // 获取当前时间
      let arr2 = [];

      for (let i = 0; i < arrYear.length; i++) {
        let json = {
          time: arrYear[i],
          state: false
        };
        arr2.push(json);
      }

      this.monDays = arr2; // 给时间复制
      this.monDays[0].state = true; // 默认第一个选中
      this.todayTime = arr2[0].time; // 赋值今天的日期
      this.monDays[0].time = this.nowToday;
    },
    //从现在起的时间到
    initHourMin: function() {
      let arr = this.getMonth(); // 获取日期
      let arrHour = arr[1]; // 获取当前时间
      let arrHourMin = this.$store.state.hourMin;
      let nowArrHour = [
        {
          time: this.nowTimeHour,
          state: true
        }
      ];
      if (arrHourMin.indexOf(arrHour)) {
        console.log("arrHour", arrHour);
        let _index = arrHourMin.indexOf(arrHour);

        let nowHourMin = arrHourMin.slice(_index, 96);
        console.log(nowHourMin, _index);
        for (let i = 0; i < nowHourMin.length; i++) {
          let json = {
            time: nowHourMin[i],
            state: false
          };
          nowArrHour.push(json);
        }
        let json1 = {
          time: "23:59",
          state: false
        };
        nowArrHour.push(json1);
      }

      this.hourMins = nowArrHour;
    },
    // 全天时间
    initHourAll: function() {
      let arr = this.$store.state.hourMin;
      let arr2 = [];
      for (let i = 0; i < arr.length; i++) {
        let json = {
          time: arr[i],
          state: false
        };
        arr2.push(json);
      }
      arr2[0].state = true;
      this.hourMins = arr2;
    },

    jumpProduct: function() {
      this.$router.push({
        name: "serviceList",
        query: {
          pageId: this.productDetailPageId
        }
      }); // 返回上一级页面
    },
    jumpRec: function(index) {
      this.$router.push({
        name: "serviceDetail",
        query: {
          pageId: this.productDetailPageId
        }
      }); // 返回上一级页面
      let proDetailData = this.desRegs[index].recDataListJson; // 该商品的所有信息
      localStorage.setItem("proDetailData", proDetailData); // 设定该商品信息
      this.productDeatilLoad(); // 重新渲染该页面
      let scrollObj = document.getElementById("productDetailMain"); // 滚动区域
      scrollObj.scrollTop = 0; // 推荐切换时，滚动条返回顶部
    },

    choiceAdress: function(index) {
      this.cartModelShow = false; // 点击关闭按钮
      if (index == 0) {
        // 选中的选择房间
        this.cartModelShowRoom = true; // 填写房间号
      } else {
        // 选中的酒店其他位置/其他地址
        // this.cartOrdersSet(); // 存储已经选中的订单
        // 查询地址管理里面是否有地址
        this.getAdress(); // 获取地址管理的接口
      }
    },
    getAdress: function() {
      localStorage.setItem("adressCreat", "cartShopping");
      let _this = this;
      _this.axios
        .get(
          "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_address/?" +
            _this.$root.junAppName +
            ""
        )
        .then(
          function(sucss) {
            if (sucss.data.ret == "200") {
              let adressArr = sucss.data.data; // 获取地址信息
              let adressListArr = []; // 初始化地址列表
              if (adressArr.length > 0) {
                adressArr = _this.jsonSort(adressArr, adressArr[0].is_default); // 按照从大到小的顺序排序
                let listF = adressArr[0]; // 地址
                let listId = listF.id; // 地址的标志
                let listAdress = listF.address; // 地址
                let listPhone = listF.recipient_phone; //  手机号
                let listName = listF.recipient_name; // 姓名
                let listIsDefault = listF.is_default; // 是否默认地址
                let adressJsonSet = {
                  expected_delivery_time: 0,
                  note: _this.wholeResText, // 整体订单的备注信息
                  recipient_name: listName, // 暂时储入默认姓氏
                  recipient_phone: listPhone, // 手机号
                  address: listAdress // 地址信息
                };
                localStorage.setItem(
                  "deliveryAdress",
                  JSON.stringify(adressJsonSet)
                ); // 存储快递地址
                _this.$router.push({
                  path: "/order"
                }); // 订单管理的页面
              } else {
                _this.$router.push({
                  path: "/adressCreat"
                }); // 创建地址
              }
            }
          },
          function(err) {
            _this.$router.push({
              path: "/adressCreat"
            }); // 创建地址
          }
        );
    },
    roomNumButton: function() {
      if (this.roomNum && this.roomTel) {
        // 手机号和房间号为必填
        if (!this.roomName) {
          this.roomName = this.NameNull; // 匿名
        }
        let adressJson = {
          expected_delivery_time: 0,
          note: this.wholeResText, // 整体订单的备注信息
          recipient_name: this.roomName, // 暂时储入默认姓氏
          recipient_phone: this.roomTel,
          address: this.roomNum
        };
        console.log(adressJson);
        localStorage.setItem("deliveryAdress", JSON.stringify(adressJson)); // 存储快递地址
        this.cartModelShowRoom = false; // 关闭弹框
        this.serviceAdd(adressJson);
      } else {
        if (!this.roomTel) {
          this.$toast(this.mobileWrong); // 手机号有误
        } else if (!this.roomNum) {
          this.$toast(this.roomWrong); // 房间号有误
        }
      }
    },
    getUserName: function() {
      var that = this;
      var url = "/api/junctioncore/v1/customer/get_profile/?";
      that.axios
        .get(
          that.$root.domainName +
            url +
            that.$root.junAppQuery +
            that.$root.junAppName
        )
        .then(function(sucss) {
          if (sucss.data.ret == "200") {
            let ueserData = sucss.data.data.customer; // 获取信息
            let firstN = ueserData.first_name; //姓
            let lastN = ueserData.last_name; // 名
            let birth = ueserData.date_of_birth;
            if (
              firstN == "default" &&
              lastN == "default" &&
              birth == "1900-01-01"
            ) {
              // 默认传入的值
              that.roomName = "";
              return;
            } else {
              that.roomName = firstN;
            }
          }
        });
    },
    roomBtnClose: function() {
      this.cartModelShowRoom = false; // 房间号弹框
    },
    cartModelClose: function() {
      this.cartModelShow = false; // 点击关闭按钮
    },
    serviceAdd: function(addressInfo) {
      let _this = this;
      _this.axios
        .post(
          _this.$root.domainName +
            "/api/junctioncore/v1/cart/request_service/?" +
            _this.$root.junAppName,
          {
            quantity: 1,
            note: addressInfo.note,
            variants: [],
            recipient_name: addressInfo.recipient_name,
            recipient_phone: addressInfo.recipient_phone,
            address: addressInfo.address,
            lang_agnostic_id: _this.langAgnosticId,
            expected_delivery_time: _this.expectedDelivery
          }
        )
        .then(
          function(sucss) {
            console.log("sucss===========", sucss.data.data.order_id);
            if (sucss.data.ret == "200") {
              _this.serviceSunccess(sucss.data.data.order_id);
            }
          },
          function(err) {
            console.log("叫服务失败", err);
            _this.$router.push({
              path: "/callFailed"
            });
          }
        );
    },
    serviceSunccess: function(ORDERID) {
      console.log(ORDERID);
      let _this = this;
      _this.axios
        .post(
          _this.$root.domainName +
            "/api/junctioncore/v1/customer_order/" +
            ORDERID +
            "/mark_paid/?pay_cash=0&" +
            _this.$root.junAppName
        )
        .then(
          function(sucss) {
            console.log("sucss===========", sucss);
            if (sucss.data.ret == "200") {
              console.log("document.cookieOrderConfirm", document.cookie);
              _this.$router.push({
                path: "/callSucss"
              });
            }
          },
          function(err) {
            console.log("叫服务失败", err);
            _this.$router.push({
              path: "/callFailed"
            });
          }
        );
    }
  },

  destroyed: function() {
    // 清除整体订单的备注
    localStorage.setItem("wholeResText", "");
  }
};
</script>

<style src="../css/serviceDetail.scss" lang="scss" scoped>
</style>

