html,body{
  font-family: "Comic Sans MS","幼圆","黑体",sans-serif;
  top:0;
  left:0;
}
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: SFUIDisplay-Light;
    font-size: 0.32rem;
    color: #CACACA;
    letter-spacing: 0;
    font-weight: lighter;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: SFUIDisplay-Light;
    font-size: 0.32rem;
    color: #CACACA;
    letter-spacing: 0;
    font-weight: lighter;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: SFUIDisplay-Light;
    font-size: 0.32rem;
    color: #CACACA;
    letter-spacing: 0;
    font-weight: lighter;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: SFUIDisplay-Light;
    font-size: 0.32rem;
    color: #CACACA;
    letter-spacing: 0;
    font-weight: lighter;
  }



  /*register-header */
  .register-header{
    width: 100%;
    height: 1rem;;
    line-height: 0.5rem;
    pointer-events: auto;
  }
  .register-nav{
    float:left;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    margin:0.5rem 0 0 0; 
  }
  .register-left{
    float:left;
    width:1.2rem;
    margin: 0 0 0 0.3rem;
    text-align: left;
  }
  .register-mid{
    float:left;
    width: 4rem;
    text-align: center;
  }
  .header-tt{
    width: 7.5rem;
    font-weight: normal;
    text-align: center;
  }

  .register-right{
    float:right;
    width:1.7rem;
    margin: 0 0.3rem 0 0;
    text-align: right;
  }
  .register-nav .register-icon{
    font-size: 0.52rem;
    color:#fff;
  }


  /* inputs start */
  .register-inputs{
    margin: auto;
    width: 6.86rem;
    height: auto;
  }
  .input-ul{
    margin: auto;
    width: 100%;
    height: auto;
    padding-bottom:0.3rem;
    position: relative;
  }
  .input-li{
    float: left;
    width: 100%;
    height: 0.96rem;
    margin: 0.2rem  0 0 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.05rem;
  }
  .input-icon{
    position: absolute;
    right:0.3rem;
    top:0;
    height: 1rem;
    line-height: 1rem;
    color:#dddddd;
    font-size: 0.24rem;
  }
  .input-icon .iconfont{
    font-size: 0.36rem;
  }
  .input-li a{
    font-size:0.28rem;
    color: #F4F4F4;
    letter-spacing: 0.0063rem;
    line-height: 0.4rem;
  }
  .input-text{
    width: 100%;
    height: 1rem;
    background: rgba(255,255,255,0.2);
    border: 0;
    padding: 0 0.1rem;
    color:#F4F4F4;
    border-radius: 0.05rem;
    box-sizing: border-box;
  }
  .input-code, .input-mobile{
    float:left;
    width: 70%;
    border-radius:0;
    border-top-left-radius: 0.05rem;
    border-bottom-left-radius: 0.05rem;
  }
  .input-times, .input-country{
    float:left;
    width:29.5%;
    margin-left: 0.5%;
    text-align: center;
    font-size: 0.28rem;
    color:#e5bd36;
    border-radius:0;
    border-top-right-radius: 0.05rem;
    border-bottom-right-radius: 0.05rem;
  }
  .input-times{
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
  }
  .input-country{
    width:34.5%;
    margin-left: 0;
    margin-right: 0.5%;
    border-radius:0;
    border-top-left-radius: 0.05rem;
    border-bottom-left-radius: 0.05rem;
    text-align: left;
    position: relative;
  }
  .input-mobile{
    float:left;
    width: 65%;
    border-radius:0;
    border-top-right-radius: 0.05rem;
    border-bottom-right-radius: 0.05rem;
  }


  .register-btn-box{
    float:left;
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
  }
  .register-button{
    margin: auto;
    width:6.8rem;
    height: 0.88rem;
    border:0;
    background: rgba(202,202,202,0.90);
    border-radius: 0.08rem;
    font-size: 0.36rem;
    color: #F4F4F4;
    letter-spacing: 0;
  }
  .register-button a{
    display: block;
    font-weight: lighter;
    font-family: SFUIDisplay-Light;
    font-size: 0.36rem;
    color: #F4F4F4;
    letter-spacing: 0;
  }

  /* inputs start */




  /*  alert--start*/
  .register-prompt{
    width: 100%;
    height:1.28rem; 
    position: absolute; 
    z-index:9999999; 
    left:0;
    top:0;
    pointer-events: none;
  }
  .register-prompt-alert{
    height:1.28rem; 
    border:0; 
    line-height:1.28rem;
    padding:0;  
    background:#10332c;
    pointer-events: auto;
    font-weight:lighter;
    font-family: SFUIDisplay-Light;
    font-size: 0.28rem;
    color: #F4F4F4;
    letter-spacing: 0;
    
  }
  .register-prompt .van-popup{
    background: #AD2929;
    font-size: 0.28rem;
  }

  .ivu-notice{
    width:100%;
    top:0;
  }
  /*  alert--end*/


  /* font start */
  a{
    display: block;
    color: #f4f4f4;
  }
  a:hover{
    color:#f4f4f4;
  }
  .iconfont{
    cursor: pointer;
    color: #f4f4f4;
  }
  /* font end */



/* main-header  start*/
.header-tt{
  float:left;
  width: 7.5rem;
  height: 1.28rem;
}
.header-ul{
    float:left;
    width: 100%;
    height: 0.8rem;
    margin-top: 0.48rem;
    line-height: 0.8rem;
    font-weight: normal;
    color:#F4F4F4;
    overflow: hidden;
}
.header-ul .iconfont{
    font-size: 0.52rem;
    color:#F4F4F4
}
.header-li-left{
    float:left;
    margin-left: 0.2rem;
    width:1.1rem;
    text-align: left;
    font-size:0.32rem;
    height: 0.8rem;
}
.header-li-middle{
    float:left;
    width:4.9rem;
    height: 0.8rem;
    font-size: 0.36rem;
    font-weight: normal;
}
.header-li-middle .iconfont{
    color: #D2AC2B;
    font-size: 0.48rem;
    font-size: 0.36rem;
}
.header-li-mid .iconfont{
    text-align: center;
    font-size: 0.36rem;
}
.header-li-right{
    float:right;
    margin-right: 0.2rem;
    width:1.1rem;
    height: 0.8rem;
    font-size:0.32rem;
    text-align: right;
}
.header-li-right .van-tabbar-item{
    width:100%;
    height: 0.8rem;
    text-align: right;
    align-items: initial;
}
.header-li-right .van-tabbar-item__icon{
  font-size:0.40rem;
  line-height: 0.8rem;
  color:#f4f4f4;
  text-align: right;
  padding-right: 0.05rem;
}

/* gloab mainSetImageBg bg */

.mainSetImageBg{
  background-repeat: "no-repeat";
  background-attachment: "fixed";
  background-size: "100% 100%";
  width: "100%";
  height: "100%";
}



    /* main-header  end*/

    /* model */
    .common-model{
      position:absolute; 
      z-index:1999;
       width:100%; 
       height:100%; 
       background:rgba(0,0,0,0.5);
       transition: fade-in 4s;
    }


  /* footer-btn */
  .footer-btn-box{
    position: absolute;
    z-index: 500;
    left:0;
    bottom:0;
      width:100%;
      height:1.2rem; 
      background:#fff;
      box-sizing: border-box;
  }
  .footer-btn-box .btn{
    margin:0.18rem auto;
    width:7.02rem;
    height: 0.84rem;
    background: #D2AC2B;
    border-radius: 0.08rem;
    font-size: 0.36rem;
    color: #FFFFFF;
    border:0;
}


/* img */
.s-img-wh{
  width: auto;
  height: 2.88rem;
}
.s-img-ht{
  width: 7.5rem;
  height: auto;
}

/* alert dialog */
.van-dialog__footer .van-button--large{
  background: #D2AC2B;
  height: 0.9rem;
  color: #fff;
  text-align: center;
  line-height: 0.9rem;
}
.van-dialog__content .van-dialog__message{
  text-align: center;
  padding:0;
  line-height: 0.4rem;
  font-size: 0.32rem;
  margin: 0.5rem;
  color:#4a4a4a;

}
.van-dialog__footer .van-dialog__confirm, 
.van-dialog__footer .van-dialog__confirm:active{
  color:#fff;
}
.slider-common{
  position: absolute;
  z-index: 9999;
  width:2.3rem;
  height: 100%;
  background:rgba(0,0,0,0);
  top:0;
  right:0;
  display: none;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size:0.28rem;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size:0.28rem;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size:0.28rem;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size:0.28rem;
}
.iphoneX-main{
  float:left;
  width:100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.iphoneX-footer{
  float:left;
  width:100%;
  height: 30px;
  background: rgba(10, 35, 99, 0.9);
  display: none;
}


/* country-code */
.country-code{
  width:100%; 
  height:auto;
  max-height:6rem; 
  overflow-y:scroll;
  background:#fff; 
  z-index:99999; 
  position:absolute; 
  color:#4a4a4a; 
  top:1rem;
  border-radius: 0.05rem;
  padding-bottom:0.05rem;
}
.country-code .code-li{
  float:left;
  width:96%;
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom:0.02rem solid #ccc;
  text-align: left;
  margin: 0 0 0 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.country-code .code-li:hover{
  color:#e5bd36;
}



/* v-show annimation */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}


/* bottom icon */
.common-left-icon{
  position: absolute;
  z-index: 99999;
  left:0.2rem;
  bottom:0.2rem;
  width:3rem;
  height: 1.2rem;
}
.common-left-icon .common-bottom-left,
.common-left-icon .common-bottom-right{
  float:left;
  width:1rem;
  height: 1rem;
  margin: 0 0.1rem;
  border-radius: 0.8rem;
  text-align: center;
  line-height:1rem;
  font-size: 0.6rem;
  background: #192049;
  color:#D2AC2B;
  overflow: hidden;
}
.common-left-icon .common-bottom-left .iconfont,
.common-left-icon .common-bottom-right .iconfont{
  font-size: 0.6rem;
  color:#D2AC2B;
}
.common-left-icon .common-bottom-right .van-icon-cart{
  font-size: 0.48rem;
  color:#D2AC2B;
}