<template>
<div class="cartEmpty">
 <div class="iphoneX-main" id="iphoneX-main-paySucss">
    <!-- <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <router-link to="/index">
            <i class="iconfont icon-back1"></i>
          </router-link>
        </li>
        <li class="header-li-middle">
          {{servicetTitle}}
        </li>
      </ul>
    </div> -->
    <div class="cart-main">
      <div class="cart-warn payment-state">
        <div class="cart-img">
          <i class="iconfont icon-state1"></i>
        </div>
        <h3 class="cart-warn-tt">{{callSuccessText}}</h3>
        <p class="pay-warning">{{callSuccssNote}}</p>
        <button type="button" class="cart-btn"><router-link to="/orderListQuery">{{btnConfirm}}</router-link></button>
      </div>
    </div>
  </div>
</div>  
</template>

<script>
export default {
  name: "callSucss",
  data() {
    return {
      servicetTitle: "Hotel Service", // 标题名称
      callSuccessText: "", // 付款成功
      callSuccssNote: "", // 付款成功提示语
      btnConfirm: "Completed" // 按钮确认成功
    };
  },
  mounted: function() {
    this.isIPhoneX("iphoneX-main-paySucss", ""); // iphoneX适配问题
    this.paySucssLoad();
  },
  methods: {
    paySucssLoad: function() {
      localStorage.setItem("cartListJosn", null); // 把选中的商品列表清空
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      if (!languageSet) {
        languageSet = "en";
      }
      if (languageSet == "en") {
        this.callSuccessText = "Call service successful! "; // 付款成功
        this.callSuccssNote = "We will serve you at the time you specify."; // 付款成功提示语
        this.btnConfirm = "Completed"; // 按钮确认成功
        this.servicetTitle = "Hotel Service"; // 标题名称
      } else {
        this.callSuccessText = "恭喜您，呼叫服务成功！"; // 付款成功
        this.callSuccssNote = "我们将在您指定的时间为您服务。"; // 付款成功提示语
        this.btnConfirm = "完成"; // 按钮确认成功
        this.servicetTitle = "酒店服务"; // 标题名称
      }
    }
  }
};
</script>
<style src="../css/cartEmpty.scss" lang="scss" scoped>
</style>



