.pageLoad {
  width: 100%;
  height: 100%;
  background: #192721;

  .pageLoad-title {
    padding-top: 3.02rem;
    margin: auto;
    font-family: Helvetica;
    font-size: 1.04rem;
    color: #E5BD36;
    letter-spacing: 0.6px;
  }

  .loadingLogo img {
    padding-top: 3.02rem;
    margin: auto;
    height: 2.5rem;
  }

  .pageLoad-progress {
    margin: auto;
    margin-top: 3.63rem;
    color: #e5bd36;
    font-size: 0.25rem;
  }

  .pageLoad-progress a {
    color: #e5bd36;
  }

  .pageLoad-footer {
    position: absolute;
    bottom: 0.4rem;
    color: #fff;
    font-size: 0.22rem;
    width: 3rem;
    left: 50%;
    margin-left: -1.5rem;
    text-align: center;
    line-height: 0.3rem;
    font-family: SFUIDisplay-Light;
    font-size: 0.28rem;
    color: #F4F4F4;
  }

  .pageLoad-footer a {
    color: #fff;
  }

  // .proCircle .van-circle__text{
  //   color:#E5BD36;
  // }
}