.serviceDetail {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    font-weight: lighter;
    .product-main {
        float: left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }
    .product-mianly {
        float: left;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        overflow: auto;
    }
    .proDetail-main {
        float: left;
        width: 100%;
        height: 5rem;
        margin: 0 0 0.5rem 0;
        background: transparent;
    }
    .proDetail-main-top {
        float: left;
        width: 7.5rem;
        height: 5.625rem;
        overflow: hidden;
    }
    .proDetail-main-bottom {
        position: absolute;
        bottom: 1.7rem;
        width: 100%;
        height: 1rem;
        .serviceButton {
            background: #d2ac2b;
            color: #d3d3d3;
            border-radius: 0.1rem;
            width: 94%;
            border: none;
        }
    }
    .proDetail-img {
        width: 100%;
        height: 100%;
    }
    .proDetail-main-des {
        float: left;
        width: 6.82rem;
        height: auto;
        margin: 0 0.34rem 0.3rem 0.34rem;
        .des-li {
            float: left;
            width: 100%;
            height: auto;
            border-top: 0.001rem solid rgba(110, 110, 110, 1);
            overflow: hidden;
        }
        .des-tt {
            height: 1.2rem;
            line-height: 1.2rem;
            border-top: 0;
        }
        .des-num {
            height: 1.2rem;
            line-height: 1.2rem;
        }
        .des-tt-name {
            float: left;
            width: auto;
            height: 1.2rem;
            font-size: 0.4rem;
        }
        .des-tt-price {
            float: right;
            width: 1.8rem;
            font-size: 0.48rem;
            color: #d2ac2b;
            letter-spacing: 0.47px;
            font-weight: normal;
            height: 1.2rem;
        }
        .des-service-name {
            float: left;
            width: auto;
            height: 1.2rem;
            font-size: 0.32rem;
            .note {
                font-size: 0.28rem;
                color: #8a8a8a;
            }
        }
        .des-service-time {
            float: right;
            width: 2.5rem;
            font-size: 0.32rem;
            color: #d2ac2b;
            letter-spacing: 0.47px;
            font-weight: normal;
            height: 1.2rem;
            .iconfont {
                font-size: 0.28rem;
                color: #d2ac2b;
            }
        }
        .des-tt-btn {
            width: 1.8rem;
            height: 0.6rem;
            line-height: 0.6rem;
            background: #d2ac2b;
            border-radius: 0.08rem;
            color: #f4f4f4;
            font-size: 0.28rem;
            border: 0;
            font-weight: lighter;
            margin-top: 0.3rem;
        }
        .des-tt-btnNone {
            display: none;
        }
        .des-tt-span {
            padding: 0 0.05rem;
            font-size: 0.32rem;
            .iconfont {
                font-size: 0.44rem;
                color: #d2ac2b;
            }
            .des-tt-number {
                font-size: 0.36rem;
            }
        }
        .des-li-desTt {
            text-align: left;
            font-weight: lighter;
            line-height: 0.6rem;
            font-size: 0.32rem;
            padding: 0.1rem 0;
        }
        .des-li-desTt::after {
            content: " : ";
        }
        .des-li-p {
            text-align: left;
            line-height: 0.4rem;
            font-size: 0.32rem;
            padding-bottom: 0.2rem;
            word-break: break-all;
        }
        .des-recommend {
            float: left;
            width: 6.93rem;
            height: 2.68rem;
        }
        .des-red-li {
            float: left;
            width: 2.2rem;
            height: 2.68rem;
            margin-right: 0.11rem;
            background: rgba(12, 34, 29, 0.5);
            .li-img {
                float: left;
                width: 2.2rem;
                height: 1.65rem;
                overflow: hidden;
            }
            .li-images {
                width: 100%;
                height: 100%;
            }
            .li-tt {
                float: left;
                width: 2.2rem;
                height: 0.85rem;
                text-align: left;
                line-height: 0.4rem;
                .li-tt-title,
                .li-tt-des {
                    font-weight: lighter;
                    font-size: 0.28rem;
                    color: #f4f4f4;
                    padding: 0 0.05rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .proModel {
        position: absolute;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        animation: fade-in 4s;
        .proModel-content {
            width: 6.8rem;
            height: auto;
            background: #fcfcfc;
            left: 50%;
            top: 50%;
            position: absolute;
            margin-left: -3.4rem;
            margin-top: -3.5rem;
            border-radius: 0.24rem;
            max-height: 7rem;
            overflow: hidden;
        }
        .proModel-tt {
            float: left;
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            font-size: 0.4rem;
            border-bottom: 0.01rem solid #d3d3d3;
            color: #191814;
            .title {
                float: left;
                width: auto;
                max-width: 5rem;
                height: 1rem;
                line-height: 1rem;
                text-align: left;
                padding-left: 0.3rem;
                font-weight: normal;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .close {
                float: right;
                width: 1rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                font-size: 0.6rem;
                cursor: pointer;
            }
        }
        .proModel-ul {
            float: left;
            width: 100%;
            height: auto;
            max-height: 5rem;
            overflow: hidden;
            overflow-y: scroll;
        }
        .proModel-ul::-webkit-scrollbar-track-piece {
            background-color: rgba(0, 0, 0, 0);
            border-left: 1px solid rgba(0, 0, 0, 0);
        }
        .proModel-ul::-webkit-scrollbar {
            width: 3px;
            height: 13px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .proModel-ul::-webkit-scrollbar-thumb {
            background-color: #d2ac2b;
            background-clip: padding-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            min-height: 28px;
        }
        .proModel-ul::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .proModel-li {
            float: left;
            width: 93%;
            height: auto;
            padding: 0 3.5%;
            margin: 0.1rem 0;
            box-sizing: border-box;
            line-height: 0.6rem;
            color: #848484;
            .size-tt {
                float: left;
                width: 100%;
                height: 0.5rem;
                padding-right: 0.2rem;
                margin-right: 0.2rem;
                text-align: left;
            }
            .size-num {
                float: left;
                width: auto;
                border-radius: 0.06rem;
                background: rgba(132, 132, 132, 0.3);
                text-align: center;
                margin: 0.1rem 0.1rem 0.1rem 0;
                line-height: 0.52rem;
                color: #848484;
                padding: 0 0.2rem;
                text-align: left;
            }
            .cook-tt {
                float: left;
                width: 1.2rem;
                height: 1.6rem;
            }
            .cook-box {
                float: left;
                width: 5rem;
                height: 1.6rem;
            }
            .cook-li {
                float: left;
                width: auto;
                height: 0.52rem;
                margin: 0.14rem 0.2rem;
                padding: 0 0.25rem;
                background: rgba(132, 132, 132, 0.3);
                border-radius: 0.06rem;
                line-height: 0.52rem;
            }
            .choice-active {
                background: rgba(210, 172, 43, 0.3);
                color: rgba(210, 172, 43, 1);
            }
        }
        .proModel-footer {
            float: left;
            height: 1rem;
            width: 100%;
            border-top: 0.01rem solid #d3d3d3;
            .price {
                float: left;
                line-height: 1rem;
                font-size: 0.48rem;
                color: #d2ac2b;
                font-weight: normal;
            }
            .conBtn {
                float: right;
                width: 2.1rem;
                height: 0.7rem;
                background: #d2ac2b;
                border-radius: 0.08rem;
                text-align: center;
                line-height: 0.7rem;
                border: 0;
                color: #f4f4f4;
                margin: 0.1rem 0 0 0;
                font-size: 0.32rem;
            }
        }
    }
    .ball {
        position: absolute;
        left: 1.8rem;
        width: 0.35rem;
        height: 0.35rem;
        transition: left ease-in-out 0.3s, top 0.3s, transform 0.3s;
        border-radius: 0.35rem;
        z-index: 2;
        transform: rotate(0deg);
        background: #d2ac2b;
        display: block;
        opacity: 0;
    }
    .roomNumBtn {
        margin: auto;
        width: 6rem;
        height: 0.7rem;
        background: #d2ac2b;
        border: 0.01rem solid #ccc;
        border-radius: 0.1rem;
        font-size: 0.32rem;
        color: #f4f4f4;
        bottom: 0.34rem;
    }
    .vanpop {
        z-index: 900;
        width: 100;
        position: absolute;
        height: 5rem;
        bottom: 1.5rem; // border: 0;
        // border-bottom: 2px solid #333;
        // box-shadow: 0 0.2rem 0.6rem 333;
        // -webkit-box-shadow: 0 0.2rem 0.6rem #333;
    }
    .later-time {
        height: 7.3rem;
        overflow: hidden;
        bottom: 1.7rem;
    }
    .deliver-top {
        float: left;
        width: 100%;
        height: 1rem;
        border-bottom: 0.02rem solid #ddd;
        color: #4a4a4a;
        line-height: 1rem;
        .deliver-top-tt {
            float: left;
            width: 50%;
            margin: 0 0 0 25%;
            height: 100%;
            text-align: center;
        }
        .deliver-close {
            float: left;
            width: 10%;
            text-align: center;
            height: 100%;
            margin-left: 14%;
            color: #4a4a4a;
            .iconfont {
                color: #4a4a4a;
                font-size: 0.36rem;
            }
        }
    }
    .deliver-pick-time {
        float: left;
        width: 50%;
        height: 5rem;
        background: #efefef;
        overflow: scroll;
        .deliver-day-li {
            float: left;
            width: 100%;
            height: 0.9rem;
            line-height: 0.9rem;
            color: #4a4a4a;
            font-size: 0.24rem;
        }
        .day-active {
            background: #fff;
            color: #d2ac2b;
        }
    }
    .data-hour {
        background: #fff;
    }
    .deliver-hour {
        float: left;
        width: 90%;
        margin: 0 0 0 5%;
        height: 0.9rem;
        color: #4a4a4a;
        border-bottom: 0.02rem solid #ddd;
        font-size: 0.24rem;
        line-height: 0.9rem;
        .iconfont {
            color: #d2ac2b;
            text-align: right;
            font-size: 0.18rem;
        }
        .sure {
            float: right;
            width: 10%;
            height: 100%;
        }
        .hour-min {
            float: left;
            height: 100%;
            width: 85%;
        }
    }
    .deliver-time-box {
        float: left;
        width: 100%;
        height: 1.1rem;
        border-top: 0.02rem solid #ddd;
    }
    .deliver-time-confirn {
        float: left;
        width: 96%;
        height: 0.9rem;
        background: #d2ac2b;
        border: 0;
        line-height: 0.9rem;
        color: #fff;
        margin: 0.15rem 2%;
        border-radius: 0.1rem;
        font-size: 0.36rem;
    }
    .cartModel {
        position: absolute;
        z-index: 501;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        animation: fade-in 4s;
        .cartModel-content {
            width: 6.8rem;
            height: 5.5rem;
            background: #eee;
            left: 50%;
            top: 50%;
            position: absolute;
            margin-left: -3.4rem;
            margin-top: -2.65rem;
            border-radius: 0.24rem;
            overflow: auto;
            .cartModel-close {
                float: left;
                width: 6.5rem;
                height: 0.5rem;
                line-height: 0.5rem;
                text-align: right;
                margin-top: 0.2rem;
                .iconfont {
                    font-size: 0.4rem;
                    color: #6a6a6a;
                }
            }
            .cartModel-ul {
                float: left;
                width: 6.8rem;
                height: 4.8rem;
                .cartModel-li {
                    float: left;
                    width: 6rem;
                    height: 0.9rem;
                    background: #d2ac2b;
                    border: 0.01rem solid #ccc;
                    border-radius: 0.1rem;
                    margin: 0.5rem 0.4rem 0 0.4rem;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 0.8rem;
                }
            }
        }
        .cartModelRoomNum {
            height: 6rem;
            margin-top: -3rem;
            .cartModel-input-box {
                float: left;
                width: 6rem;
                height: 3.2rem;
                margin: 0.5rem 0.4rem;
                .cartModel-input-li {
                    width: 6rem;
                    height: 0.9rem;
                    margin: 0.1rem 0;
                    .cartModel-input {
                        float: left;
                        width: 5.9rem;
                        height: 0.8rem;
                        border: 0.02rem solid #ccc;
                        box-sizing: border-box;
                        padding: 0 0.05rem;
                        color: #d2ac2b;
                    }
                    .inputCart-country {
                        float: left;
                        width: 1.9rem;
                        height: 0.8rem;
                        margin: 0;
                        margin-right: 0.05rem;
                        border: 0.02rem solid #ccc;
                        padding: 0 0.05rem;
                    }
                    .inputCart-mobile {
                        float: left;
                        width: 3.65rem;
                        height: 0.8rem;
                        border: 0.02rem solid #ccc;
                        padding: 0 0.05rem;
                    }
                }
            }
            .roomNumBtn {
                margin: auto;
                width: 6rem;
                height: 0.7rem;
                background: #d2ac2b;
                border: 0.01rem solid #ccc;
                border-radius: 0.1rem;
                font-size: 0.32rem;
                color: #f4f4f4;
                bottom: 0.34rem;
            }
        }
    }
}