.serviceList {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f4f4f4; // indexmain start
    .index-main {
        width: 7.5rem;
        height: 100%;
        transition: width 0.5s;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
        overflow: hidden;
        box-shadow: 0.06rem 0.03rem 0.1rem 0 rgba(12, 34, 29, 0.5);
    }
    .index-main-box {
        float: left;
        width: 7.5rem;
        height: 100%;
    }
    .index-main-opacity {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width: 7.5rem;
        height: 100%;
        background: rgba(22, 62, 53, 0.8);
        background: linear-gradient( rgba(10, 35, 99, 0.9) 0%, rgba(0, 64, 152, 0.6) 100%);
    }
    .product-main {
        float: left;
        width: 100%;
        height: 100%;
    }
    .product-box {
        float: left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
    .product-title {
        float: left;
        width: 100%;
        height: 0.92rem;
        overflow-x: auto;
        position: absolute;
        z-index: 9999;
        color: #fff;
        left: 0;
        background: rgba(17, 30, 64, 0.8);
        overflow: auto;
    }
    .pro-tt-ul {
        float: left;
        min-width: 7.5rem;
        width: auto;
        height: 0.92rem;
        line-height: 0.92rem;
        color: #f4f4f4;
        overflow: auto;
    }
    .pro-tt-li {
        float: left;
        width: auto;
        height: 0.92rem;
        line-height: 0.92rem;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 0.03rem solid rgba(0, 0, 0, 0);
        font-size: 0.24rem;
        letter-spacing: 0;
        .pro-tt-li-text {
            padding: 0 0.4rem;
        }
    }
    @media screen and (max-width: 320px) {
        .pro-tt-li {
            margin: 0 0.2rem;
        }
    }
    .pro-tt-li-active {
        color: #d2ac2b;
        border-bottom: 0.03rem solid #d2ac2b;
    }
    .product-list {
        float: left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        margin-top: 0.92rem;
        position: absolute;
        color: #000;
    }
    .product-list-main {
        float: left;
        width: 100%;
        height: auto;
        color: #000;
        overflow: auto;
    }
    .product-main-mian {
        float: left;
        width: 100%;
        height: auto;
        margin: 0rem 0 1rem 0;
    }
    .pro-main-ul {
        width: 7.5rem;
        margin: auto;
        height: auto; //overflow: auto;
    }
    .pro-main-li {
        float: left;
        width: 3.55rem;
        height: auto;
        margin: 0.1rem 0rem 0 0.133rem;
        padding: 0 0 0.2rem 0;
        background: rgba(17, 30, 64, 0.4);
        .pro-li-img {
            float: left;
            width: 100%;
            height: 2.67rem;
        }
        .pro-li-images {
            width: 100%;
            height: 100%;
        }
        .pro-li-des {
            float: left;
            width: 100%;
            height: auto;
            color: #f4f4f4;
            text-align: left;
            line-height: 0.4rem;
            font-weight: lighter;
            position: relative;
            .pro-des-tt {
                float: left;
                width: 100%;
                margin: 0 auto;
                height: 1.5rem;
                padding-left: 0.13rem;
                .pro-des-name {
                    margin-top: 0.13rem;
                }
                .pro-des-name,
                .pro-des-price,
                .pro-des-detail {
                    font-weight: lighter;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 0.4rem;
                }
                .pro-des-price.hide {
                    display: none;
                }
            }
            .pro-des-icon {
                float: right;
                width: 1rem;
                height: 1.5rem;
                line-height: 1.5rem;
                font-size: 0.4rem;
                text-align: center;
                display: none;
                .icon-cart {
                    font-size: 0.52rem;
                    color: #d2ac2b;
                }
                .pro-des-iconfont {
                    width: 0.6rem;
                    height: 0.7rem;
                    line-height: 0.7rem;
                    float: left;
                    margin: 0.4rem 0 0 0.2rem;
                }
            }
            .pro-des-active {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    /*cartIcon*/
    .van-tabbar--fixed {
        position: static;
        background: rgba(0, 0, 0, 0);
    }
    .proModel {
        position: absolute;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        animation: fade-in 4s;
        .proModel-content {
            width: 6.8rem;
            height: auto;
            background: #fcfcfc;
            left: 50%;
            top: 50%;
            position: absolute;
            margin-left: -3.4rem;
            margin-top: -3.5rem;
            border-radius: 0.24rem;
            max-height: 7rem;
            overflow: hidden;
        }
        .proModel-tt {
            float: left;
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            font-size: 0.4rem;
            border-bottom: 0.01rem solid #d3d3d3;
            color: #191814;
            .title {
                float: left;
                width: auto;
                max-width: 5rem;
                height: 1rem;
                line-height: 1rem;
                text-align: left;
                padding-left: 0.3rem;
                font-weight: normal;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .close {
                float: right;
                width: 1rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                font-size: 0.6rem;
                cursor: pointer;
            }
        }
        .proModel-ul {
            float: left;
            width: 100%;
            height: auto;
            max-height: 5rem;
            overflow: hidden;
            overflow-y: scroll;
        }
        .proModel-ul::-webkit-scrollbar-track-piece {
            background-color: rgba(0, 0, 0, 0);
            border-left: 1px solid rgba(0, 0, 0, 0);
        }
        .proModel-ul::-webkit-scrollbar {
            width: 3px;
            height: 13px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .proModel-ul::-webkit-scrollbar-thumb {
            background-color: #d2ac2b;
            background-clip: padding-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            min-height: 28px;
        }
        .proModel-ul::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .proModel-li {
            float: left;
            width: 93%;
            height: auto;
            padding: 0 3.5%;
            margin: 0.1rem 0;
            box-sizing: border-box;
            line-height: 0.6rem;
            color: #848484;
            .size-tt {
                float: left;
                width: 100%;
                height: 0.5rem;
                padding-right: 0.2rem;
                margin-right: 0.2rem;
                text-align: left;
            }
            .size-num {
                float: left;
                width: auto;
                border-radius: 0.06rem;
                background: rgba(132, 132, 132, 0.3);
                text-align: center;
                margin: 0.1rem 0.1rem 0.1rem 0;
                line-height: 0.52rem;
                color: #848484;
                padding: 0 0.2rem;
                text-align: left;
            }
            .cook-tt {
                float: left;
                width: 1.2rem;
                height: 1.6rem;
            }
            .cook-box {
                float: left;
                width: 5rem;
                height: 1.6rem;
            }
            .cook-li {
                float: left;
                width: auto;
                height: 0.52rem;
                margin: 0.14rem 0.2rem;
                padding: 0 0.25rem;
                background: rgba(132, 132, 132, 0.3);
                border-radius: 0.06rem;
                line-height: 0.52rem;
            }
            .choice-active {
                background: rgba(210, 172, 43, 0.3);
                color: rgba(210, 172, 43, 1);
            }
        }
        .proModel-footer {
            float: left;
            height: 1rem;
            width: 100%;
            border-top: 0.01rem solid #d3d3d3;
            .price {
                float: left;
                line-height: 1rem;
                font-size: 0.48rem;
                color: #d2ac2b;
                font-weight: normal;
            }
            .conBtn {
                float: right;
                width: 2.1rem;
                height: 0.7rem;
                background: #d2ac2b;
                border-radius: 0.08rem;
                text-align: center;
                line-height: 0.7rem;
                border: 0;
                color: #f4f4f4;
                margin: 0.1rem 0 0 0;
                font-size: 0.32rem;
            }
        }
    }
    .ball {
        position: absolute;
        left: 1.8rem;
        top: 8.5rem;
        width: 0.35rem;
        height: 0.35rem;
        transition: left ease-in-out 0.3s, top 0.3s, transform 0.3s;
        border-radius: 0.35rem;
        z-index: 2;
        transform: rotate(0deg);
        background: #d2ac2b;
        display: block;
        opacity: 0;
        z-index: 10000;
        pointer-events: none;
    }
    .ball-box {
        position: absolute;
        left: 3rem;
        top: 0;
        width: 2.2rem;
        height: 2.2rem;
        z-index: 999999;
        display: none;
    }
}