.proList{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    
    // index-main start
    .index-main{
        width:7.5rem;
        height:100%;
        transition: width 0.5s;
        position:absolute;
        right:0;
        top:0;
        z-index:1000;
        overflow:hidden;
        box-shadow: 0.06rem 0.03rem 0.1rem 0 rgba(12,34,29,0.50);
    }
    .set-title-width{
        width:auto; 
        letter-spacing:0; 
        font-size:0.24rem; 
        height:0.6rem; 
        float:left; 
        padding:0 0.4rem; 
        display: none;
        min-width:0.8rem;
    }
    .index-main-box{
        float:left;
        width:7.5rem; 
        height:100%; 
        
    }
    .index-main-opacity{
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width:7.5rem;
        height:100%;
        background: linear-gradient(rgba(10,35,99,0.9) 0%,rgba(0,64,152,0.6) 100%);
    }
    .product-main{
        float:left;
        width: 100%;
        height: 100%;
    }

    .product-box{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;  
        position: relative;
    }
    .product-title{
        float:left;
        width: 100%;
        height: 0.92rem;
        overflow-x: auto;
        position: absolute;
        z-index: 9999;
        color:#fff;
        left:0;
        background: rgba(17, 30, 64, 0.8);
    }
    .pro-tt-ul{
        float:left;
        width:auto;
        height: 0.92rem;
        line-height: 0.92rem;
        color:#f4f4f4;  
        min-width:7.5rem;
      
    }
    .pro-tt-li{
        float:left;
        width:auto;
        height: 0.92rem;
        line-height: 0.92rem;
        margin: 0rem;
        text-align: center;
        box-sizing: border-box;
        border-bottom:0.03rem solid rgba(0,0,0,0);
        font-size:0.24rem;
        letter-spacing: 0;
        .pro-tt-li-text{
            padding:0 0.4rem;
        }
    }
    .pro-tt-li-active{
        color:#D2AC2B;
        border-bottom:0.03rem solid #D2AC2B;
    }
    .product-list{
        float:left;
        width:100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        margin-top:0.92rem;
         position: absolute;
         color:#000;
    }
    .product-list-main{
        float:left;
        width:100%;
        height: auto;
        color:#000;  
        overflow: auto;
        margin-bottom: 1.1rem;
    }
    .product-main-mian{
        float:left;
        width:100%;
        height: auto;
    }
    .pro-main-ul{
        width:7.5rem;
        margin: auto;
        height: auto;
    }
    .pro-main-li{
        float:left;
        width: 3.55rem;
        height: auto;
        margin: 0.1rem 0rem 0 0.133rem;
        background: rgba(17, 30, 64, 0.4);
        padding:0 0 0.2rem 0;
        .pro-li-img{
            float:left;
            width:100%;
            height: 2.67rem;
        }
        .pro-li-images{
            width: 100%;
            height: 100%;
        }
        .pro-li-des{
            float:left;
            width:3.35rem;
            height: auto;
            color:#f4f4f4;
            text-align: left;
            line-height: 0.4rem;
            font-weight: lighter;
            margin: 0 0.1rem;
            .pro-des-name{
                font-weight: lighter;
                line-height: 0.48rem;
                margin-top: 0.13rem;
            }
            .pro-des-detail{
                float:left;
                width:100%;
                height: 0.96rem;
                color: #CACACA;
                overflow: hidden;
                word-break: break-all;
                line-height: 0.45rem;
                font-size:0.24rem;
            }
        }
    }
    
}

