<template>
<div class="register">
    <div class="index-main-opacity">
  <div class="iphoneX-main" id="iphoneX-main-register">
    <div class="register-prompt">
      <van-popup v-model="isShowReg" class="register-prompt-alert" position="top" :overlay="false">{{propmtTitleReg}}</van-popup>
    </div>
    <div class="register-header">
      <ul class="register-nav">
        <li class="register-left" @click="registerClick">
          <i class="register-icon iconfont icon-back"></i>
        </li>
        <li class="register-mid">
          <h1 class="header-tt">{{headerTtReg}}</h1>
        </li>
        <li class="register-right" @click="registerClick">
          <i class="register-icon iconfont icon-state2"></i>
        </li>
      </ul>
    </div>
    <div class="register-instruction">{{instructionReg}}</div>
    <div class="register-inputs">
      <ul class="input-ul" style="position:relative;">
        <li class="input-li" style="position:relative;">
          <span><input type="text" class="input-text input-country" :placeholder="countryCode"  @focus="getChoiceCode" @blur="comChoiceCode" @input="filterCode"  v-model="counCodeNumReg" /></span>
          <span><input type="mobile" class="input-text input-mobile"   v-model="mobileNumReg"   :placeholder="mobileNumberPla" @blur="phoneNumReg"/></span>
        </li>
        <li class="input-li">
          <span><input class="input-text input-code"  type="text" v-model="verCodeReg"  @blur="codeCheckReg" :placeholder="verificationCodePla" /></span>
          <span @click="getCodeReg"><input class="input-text input-times"  type="text" v-model="timesReg" readonly /></span>
        </li>
        <li class="input-li">
          <input class="input-text" :type="eyePwReg?'text':'password'" :placeholder="passwordPla" v-model="pwReg" @blur="pwCheckReg" />
          <div class="input-icon" @click="eyePwReg = !eyePwReg">
            <i class="iconfont" v-bind:class="{'icon-viewOpen':eyePwReg, 'icon-viewClose': !eyePwReg}"></i>
          </div>
        </li>
        <li class="input-li">
          <input class="input-text" :type="eyePwConReg?'text':'password'" :placeholder="confirmPasswordPla" v-model="pwConReg" @blur="pwConfirmReg" />
          <div class="input-icon" @click="eyePwConReg =! eyePwConReg">
            <i class="iconfont" v-bind:class="{'icon-viewOpen': eyePwConReg, 'icon-viewClose': !eyePwConReg}"></i>
          </div>
        </li>
        <transition name="fade">
            <ul class="country-code" v-show="codeShow">
              <li class="code-li" v-for="(langOption,index) in langOptions" :key="index" @click="choiceCode(index)">{{langOption.text}}</li>
          </ul>
        </transition>
      </ul>
    </div>
    <div>
    </div>
    <div class="register-btn-box" @click="judgeReg">
      <button class="register-button" type="warning" :style="buttonReg">{{headerTtReg}}</button>
    </div>
  </div>
    </div>
</div>  
</template>
<script>
  export default {
    name: "register",
    data() {
      return {
        headerTtReg: "Sign up", // 标题名
        instructionReg: "", // 提示语
        mobileNumReg: "", // 电话号码
        timesReg: "Get code", // 时间
        verCodeReg: "", // 验证码
        verCodeRegState: false,
        fisrtName: "", // 用户名
        lastName: "", // 用户的姓
        nickName: "", //昵称
        currentDate: new Date(),
        minDate: new Date(1900, 0, 0),
        dataBirth: "1990-05-29", // 出生日期
        pwReg: "", // 密码
        pwConReg: "", //密码确认
        propmtTitleReg: "error", // 弹框提示
        isShowReg: false, // 是否显示弹框
        isTruePhoneNum: true, // 电话号码的正误
        eyePwReg: false, // 密码隐藏
        eyePwConReg: false, // 确认密码隐藏
        btnTextReg: "Sign up", // 注册按钮
        buttonReg: {
          background: "rgba(202,202,202,0.90)"
        },
        languageChange: "", // 语言设置
        phoneWrongSet: "", // 电话号码有误
        rightCodeSet: "", // 正确的验证码
        pwWarnSet: "", // 密码组合
        twoPwSureSet: "", // 两次密码验证
        codeSet: "", // 验证码
        codeMsgSet: "", // 验证码已发送
        custerExitSet: "", // 用户已经存在
        inforWrongSet: "", // 信息有误
        mobileNumberPla: "", // 手机号
        verificationCodePla: "", // 验证码
        passwordPla: "", // 密码
        confirmPasswordPla: "", // 确认密码
        counCodeNumReg: "86", // 国家代码
        countryCode: "", //
        counCodeWrong: "", // 国家代码有误
        isTrueCodeNum: false, // 国家代码的正误
        mobileCodeWarn: "",
        verState:false,  // 验证数据
        initOptions:[], // 初始化国家代码
        langOptions:[], // 显示国家代码
        filterOptions:[], // 筛选选项
        codeShow:false,// 不显示国家代码下拉框
      };
    },
    mounted: function() {
      //this.isIPhoneX("iphoneX-main-register","");   // iphoneX适配问题
      this.registerLoad();
    },
    methods: {
      registerLoad: function() {
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        this.languageChange = languageSet; // 语言赋值
        if (languageSet == "en") {
          //英文状态下
          this.instructionReg =
            "To provide better service to you, please kindly fullfill following information.";
          this.headerTtReg = "Sign up";
          this.phoneWrongSet = "The phone number is wrong!";
          this.rightCodeSet = "Verifying code is wrong!";
          this.pwWarnSet = "Please enter 6~20 digit or alphabet.";;
          this.twoPwSureSet = "Two inconsistencies in cipher input!";
          this.codeSet = "Get code";
          this.codeMsgSet = "The Verification Code in SMS has been sent out!";
          this.custerExitSet = "Customer exists";
          this.inforWrongSet = "The information is incorrect, please check!"; // 信息有误，请确认
          // palcehoder
          this.mobileNumberPla = "Mobile number"; // 手机号
          this.verificationCodePla = "Verification Code"; // 验证码
          this.passwordPla = "Password"; // 密码
          this.confirmPasswordPla = "confirm Password"; // 确认密码
          this.countryCode = "country code"; // 国家代码
          this.counCodeWrong = "Please enter the number of 2-3 country code!"; // 国家代码有误
          this.mobileCodeWarn = "Mobile number or country code is wrong!"; //手机号或者国家代码有误
          this.initOptions = this.$store.state.optionsEn;  // 获取国家代码的英文
        } else {
          //中文状态下
          this.instructionReg = "如需优质服务，请填写以下信息。";
          this.headerTtReg = "注册";
          this.phoneWrongSet = "手机号有误！";
          this.rightCodeSet = "验证码有误！";
          this.pwWarnSet = "请输入6~20位数字或字母！";
          this.twoPwSureSet = "两次密码输入的不一致!";
          this.codeSet = "获取验证码";
          this.codeMsgSet = "验证码已发送！";
          this.custerExitSet = "该用户已经注册,请直接登录!";
          this.inforWrongSet = "信息有误，请确认！"; // 信息有误，请确认
          // palcehoder
          this.mobileNumberPla = "请输入手机号"; // 手机号
          this.verificationCodePla = "请输入验证码"; // 验证码
          this.passwordPla = "请输入密码"; // 密码
          this.confirmPasswordPla = "请再次输入密码"; // 确认密码
          this.countryCode = "国家代码"; // 国家代码
          this.counCodeWrong = "请输入2-3位国家代码的数字！"; // 国家代码有误
          this.mobileCodeWarn = "手机号或者国家代码有误！";
          this.initOptions = this.$store.state.optionsCh; // 获取国家代码的中文
        }
        this.timesReg = this.codeSet;  // 赋值获取验证码
        this.changeLanguage(); // 赋值国家代码
      },
      phoneNumReg: function(){
        // 手机号验证
        let countryCode = "+"+this.counCodeNumReg+"-"; 
        let comPhoneNumber = countryCode + this.mobileNumReg; // 国际代码+手机号
        let phoneNumberCode = this.$store.state.phoneNumReg;  // 手机号验证规则
        let tenCountryCode = this.$store.state.tenPhoneNum;  // 10个国家的号码
        let tenArr = [];
        let arr = []; 
        for(let m=0; m<tenCountryCode.length; m++){
          let tenCodeList = tenCountryCode[m].value;
          tenArr.push(tenCodeList);
        }
        if(tenArr.indexOf(this.counCodeNumReg) != "-1"){
          for(let i =0; i<phoneNumberCode.length; i++){
            let regList = phoneNumberCode[i].reg; // 验证规则
            let regNumVeg = new RegExp(regList);  // 验证正误
            if(!regNumVeg.test(comPhoneNumber)) {
              arr.push("false");  // 不匹配
            }else{
              arr.push("true"); // 匹配
            } 
          }
          if(arr.indexOf("true") == "-1"){
            // 没有匹配的数据
            this.verState = true; // 手机号有误
            this.isShowReg = true;  // 提示弹框显示
            this.propmtTitleReg = this.phoneWrongSet; // 弹框提示：信息有误，请确认
            this.alertWarnClose(); // 关闭提示框
          }else{
            this.isShowReg = false; // 提示弹框隐藏，手机号存在
            this.verState = false; // 手机号无误
          }
        }else{
          this.isShowReg = false; // 提示弹框隐藏，手机号存在
          this.verState = false; // 手机号无误
        }
      },
      getCodeReg: function() {
        // 获取验证码
        let _this = this;
        if (this.timesReg == "获取验证码" || this.timesReg == "Get code") {
          if (
            this.counCodeNumReg &&
            this.mobileNumReg &&
            this.verState == false   // 手机号正确
          ) {
            // 当前处于获取验证码时
            let codeNum = "+" + this.counCodeNumReg + "-"; // 国家代码
            _this.axios
              .post(
                // 验证码获取
                "" +
                _this.$root.domainName +
                "/api/junctioncore/v1/customer/security_code/?code_type=register_customer&" +
                _this.$root.junAppQuery +
                _this.$root.junAppName +
                "", {
                  phone: "+" + _this.counCodeNumReg + "-" + _this.mobileNumReg,
                  lang: _this.languageChange
                }
              )
              .then(
                function(sucss) {
                  if (sucss.data.ret == "200") {
                    console.log("document.cookieRegister1", document.cookie);
                    _this.verCodeRegState = true; // 验证码已经发送
                  }
                },
                function(error) {
                  _this.verCodeRegState = false; // 验证码未发送
                }
              );
            let time = 60;
            let regTimer = setInterval(function() {
              time--;
              _this.timesReg = time + "s";
              if (time == 59) {
                // 验证码已发送
                _this.isShowReg = true;
                _this.propmtTitleReg = _this.codeMsgSet; // 验证码已发送
              }
              if (time == 0) {
                _this.timesReg = _this.codeSet;
                clearInterval(regTimer); // 清除定时器
                _this.isShowReg = false;
              }
            }, 1000);
          } else {
            this.isShowReg = true;
            this.propmtTitleReg = this.mobileCodeWarn; // 电话号码有误
            this.alertWarnClose(); // 错误提示弹框关闭
          }
        }
      },
      judgeReg: function() {
        // 跳转页面
        this.codeCheckReg();
        this.pwConfirmReg();
        this.pwCheckReg();
        this.buttonReg = {
          background: "#D2AC2B"
        };
        if (
          this.mobileNumReg && // 手机号
          this.verCodeReg && // 验证码
          this.pwReg && // 密码
          this.pwConReg && // 确认密码
          this.verState == false
        ) {
          let _this = this;
          let codeNum = "+" + this.counCodeNumReg + "-";
          this.axios
            .post(
              // 注册信息开始
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/customer/register/?" +
              _this.$root.junAppQuery +
              _this.$root.junAppName +
              "", {
                cts_mall_user_id: "", // id
                phone: codeNum + _this.mobileNumReg, // 手机号
                password: _this.pwReg, //用户的密码
                first_name: "default", //用户的名
                last_name: "default", //用户的姓
                nickname: "default", //昵称，可选
                gender: "male", // 性别，male 表示男，female 表示女
                date_of_birth: "1900-01-01", // 出生日期，格式：YYYY-MM-DD
                security_code: _this.verCodeReg //手机验证码
              }
            )
            .then(
              // 跳转到首页
              function(sucss) {
                console.log("document.cookieRegister2", document.cookie);
                localStorage.setItem("registerCode", _this.verCodeReg); //存储验证码
                localStorage.setItem("counCodeNumReg", _this.counCodeNumReg); // 存储国家代码
                localStorage.setItem("phoneNum", _this.mobileNumReg); // 存储当前登录的手机号
                localStorage.setItem("userLogin", "true"); // 已经登录过
                _this.$router.push({
                  path: "/index"
                }); // 跳转到登录页面
              },
              function(err) {
                let regisetData = err.response.data; // 获取错误的报错信息
                if (
                  regisetData.ret == "500" &&
                  regisetData.msg == "Customer exists."
                ) {
                  _this.isShowReg = true;
                  _this.propmtTitleReg = _this.custerExitSet; // 用户已经存在，请重新登录
                  setTimeout(function() {
                    _this.isShowReg = false;
                    _this.$router.push({
                      path: "/signIn"
                    }); // 跳转到登录页面
                  }, 1000);
                }
              }
            );
        } else {
          this.isShowReg = true; // 弹出错误提示框
          this.propmtTitleReg = this.inforWrongSet; // 信息有误，请我确认
          this.alertWarnClose(); // 关闭提示框
        }
      },
      codeCheckReg: function() {
        // 验证码验证
        if (this.verCodeReg.length != 6) {
          this.isShowReg = true;  // 弹框出现
          this.verState = true; // 有错误信息
          this.propmtTitleReg = this.rightCodeSet; // 请输入正确的验证码
          this.alertWarnClose(); // 错误提示弹框关闭
        } else {
          this.isShowReg = false; // 不显示弹框
          this.verState = false; // 无错误信息
        }
      },
      pwCheckReg: function() {
        // 密码格式验证(6-20位数字字母组合)
        let regNum = new RegExp(/^[\w]{6,20}$/); //6-20位数字或者字母
        if (!regNum.test(this.pwReg)) {
          this.isShowReg = true; // 显示弹框
          this.verState = true; // 有错误信息
          this.propmtTitleReg = this.pwWarnSet; //请填入6~20位数字或字母的组合！
          this.alertWarnClose(); // 错误提示弹框关闭
        } else {
          if (!this.pwConReg) {
            this.isShowReg = false; // 不显示弹框
            this.verState = false; // 无错误信息
          } else {
            if (this.pwReg != this.pwConReg) {
              // 两次输入的密码判断
              this.isShowReg = true;
              this.verState = true; // 有错误信息
              this.alertWarnClose(); // 错误提示弹框关闭
              this.propmtTitleReg = this.twoPwSureSet;
            }
          }
        }
      },
      pwConfirmReg: function() {
        // 确认密码格式验证
        let regNum = new RegExp(/^[\w]{6,20}$/); //6-20位数字或者字母
        if (!regNum.test(this.pwConReg)) {
          this.isShowReg = true;
          this.verState = true; // 有错误信息
          this.propmtTitleReg = this.pwWarnSet; //请填入6~20位数字或字母的组合！
          this.alertWarnClose(); // 错误提示弹框关闭
        } else if (this.pwReg != this.pwConReg) {
          // 两次输入的密码判断
          this.isShowReg = true;
          this.verState = true; // 有错误信息
          this.alertWarnClose(); // 错误提示弹框关闭
          this.propmtTitleReg = this.twoPwSureSet;
        } else {
          this.isShowReg = false;
          this.verState = false; // 无错误信息
        }
      },
      onChangeInput: function() {
        // 输入监听(输入框输入内容 按钮变色)
        if (this.mobileNumSign && this.pwValSign) {
          this.btnSign = {
            background: "#D2AC2B" // 手机号和密码都有输入内容，按钮变橙色
          };
        } else {
          this.btnSign = {
            background: "rgba(202,202,202,0.90)" // 手机号和密码有一个未输入，按钮为灰色
          };
        }
      },
      alertWarnClose: function() {
        // 错误提示弹框关闭
        let _this = this;
        setTimeout(function() {
          _this.isShowReg = false;
        }, 3000);
      },
      registerClick: function() {
        this.$router.go(-1); // 返回上一页
      },
      changeLanguage:function(){
        if (this.languageChange == "en") {
          //英文状态下
          this.langOptions = this.$store.state.optionsEn;  // 获取国家代码的英文
        } else {
          //中文状态下
          this.langOptions = this.$store.state.optionsCh; // 获取国家代码的中文
        }
      },
      choiceCode:function(index){
        // 选择国家代码
        this.counCodeNumReg = this.langOptions[index].value;
        this.codeShow = false;  // 国家代码下拉框关闭
      },
      getChoiceCode:function(){
        // 聚焦国家代码
        this.codeShow = true; // 国家代码下拉框开启
        let _this = this;
        this.changeLanguage(); // 赋值国家代码
      },
      comChoiceCode:function(){
        // 完成选择(失焦)国家代码
        if(!this.counCodeNumReg || this.langOptions.length == 0){
          this.counCodeNumReg = "86";
        }else{
          if(this.counCodeNumReg){
            let codeNumber = parseInt(this.counCodeNumReg);
            if(!codeNumber){
               this.counCodeNumReg = "86";
            }
          }
        }
        this.codeShow = false;  // 国家代码下拉框关闭
      },
      filterCode:function(){
        // 录入国家代码时筛选
        let _this = this;
        let inputVal = this.counCodeNumReg;  // 获取国家代码
        let arrCode = []; // 存储含有输入信息的国家代码
        if(inputVal){
            for(let i=0; i<this.initOptions.length; i++){
              let strText = this.initOptions[i].text; // 获取数据
              let strValue = this.initOptions[i].value; // 获取国家代码值
              let strIcon = this.initOptions[i].icon; // 获国家图标
              if(!strIcon){
                strIcon = "";
              }
              if(strText.indexOf(inputVal) !=-1 ){
                let codeJson = {
                  text:strText, 
                  value:strValue,
                  icon:strIcon
                }
                arrCode.push(codeJson);  // 存储含有输入信息的国家代码 
              }
            }
            this.langOptions = arrCode;  // 赋值筛选出来的国家代码
            if(arrCode.length == 0){
              this.codeShow = false;  // 国家代码下拉框关闭
            }
        }else{
          this.changeLanguage(); // 赋值国家代码
        }
      }
    }
  };
</script>

<style src="../css/register.scss" lang="scss">

</style>

