.cartEmpty{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
     a{
        display: block;
        color: #f4f4f4;
        font-weight: lighter;
    }
     .iconfont{
        cursor: pointer;
        color: #f4f4f4;
        font-weight: lighter;
    }
  
    .cart-main{
        float:left;
        width: 100%;
        height: 8.94rem;
        background: #fff;
        border-top:0.12rem solid rgba(10, 35, 99, 0.9);
    }
    .cart-warn{
        margin: 1.6rem auto;
        width:5.2rem;
        height: 6.54rem;
    }
    .cart-warn-tt{
        line-height: 0.6rem;
        font-size: 0.32rem;
        color: #131318;
        font-weight: lighter;
    }
    .cart-img{
        margin:0.5rem auto;
        width:3.2rem; 
        height:2.7rem;
        .cart-images{
             width:2.2rem;
        }
    }
    .cart-btn{
        margin: auto;
        width: 3.2rem; 
        height: 0.84rem;
        background: #D2AC2B;
        border-radius: 0.08rem;
        border:0;
        font-size: 0.36rem;
        color: #FFFFFF;
        letter-spacing:0.015rem;
    }
    .payment-state{
        width:6.5rem;
        .icon-state1,.icon-state2{
            color:#D2AC2B;
            font-size:2.2rem;
        }
        .pay-warning{
            font-size: 0.28rem;
            color: #8A8A8A; 
            line-height: 0.5rem;
            margin-bottom: 0.8rem;
        }
        .payment-btn{
            margin: auto;
            width:6.3rem;
            height: 1rem; 
        }
        .pay-btnList{
            float:left;
            width:2.4rem;
            margin: 0 0.25rem;
            .cart-btn{
                width:2.4rem;
            }
            .pay-no{
                border:0.01rem solid #D2AC2B; 
                color:#D2AC2B;
                background:#fff;
                a{
                    color:#D2AC2B; 
                }
            }
        }
    }

   
    
}

