.confirmOrder{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    .order-main{
        float:left;
        width: 100%;
        height: 100%;
        margin-top: 0.12rem;
        box-sizing: border-box;
        overflow: auto;
    }
    .order-mianly{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-bottom:1.26rem;
        overflow: auto;
        background: #fff;
       .delivery-adress{
           float:left;
           width:7.1rem;
           height: auto;
           margin: 0 0.2rem;
        //    overflow: auto;
           .del-left{
               float:left;
               width:7.1rem;
               height:auto;
               color:#000;
               margin: 0.1rem 0;
               .iconfont{
                   color:#8A8A8A;
               }
               .msg{
                float:left;
                width:100%;
                height: 0.7rem;
                line-height: 0.7rem;
                font-size: 0.30rem;
                text-align: left;
                .msg-li{
                    float:left;
                    width:auto;
                    height: auto;
                    padding:0 0.1rem 0 0;
                    .icon-location{
                        color:#D2AC2B;
                        font-size: 0.32rem;
                    }
                }
                .del{
                    color:red;
                }
                .next{
                    float:right;
                    width:0.5rem;
                    text-align: center;
                    padding:0;
                }
                .name{
                    float:left;
                    width:1.8rem;
                    height: 0.7rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .tel,.time{
                    float:right;
                    font-size:0.30rem;
                    margin-right: 0.02rem;
                }
                .time{
                    float: right;
                    color: #D2AC2B;
                    text-align: right;
                }
               }
               .adress{
                float:left;
                width:100%;
                height: auto;
                line-height: 0.5rem;
                text-align: left;
                font-size: 0.28rem;
                padding-left:0.3rem;
                color:#8A8A8A;
                box-sizing: border-box;
               }

           }
           .del-second{
               border-top:0.02rem solid rgba(196,196,196,1);
           }
           .del-right {
            float:right;
            width:0.6rem;
            height:1.3rem;
            line-height: 100%;
            text-align: right;
            a{
                float:right;
                text-align: right;
            }
           
           }
           .del-right a{
            line-height: 100%;
            height: 100%;
            display: table;
           
           }
           .del-right .iconfont{
               color:#8A8A8A;
               font-size:0.28rem;
               line-height: 100%;
               vertical-align: middle;
               display: table-cell;
           }
       }
       .order-list{
           float:left;
           width:100%;
           height: auto;
           border-top:0.1rem solid rgba(10, 35, 99, 0.9);
           .top{
               margin: auto;
               width:100%;
               height: 2.9rem;
               color:#8A8A8A;
           }
           .top-img{
            float:left;
            margin:0.5rem auto;
            width: 100%;
            height: auto;
           }
           .imgLogo{
               margin: auto;
                width: auto;
                height: 1rem;
                -webkit-filter: grayscale(100%);     
                -moz-filter: grayscale(100%);    
                -ms-filter: grayscale(100%);     
                -o-filter: grayscale(100%);       
                filter: grayscale(100%);    
           }
           .img-des{
               font-weight: normal;
               color:#191814;
           }
           .order-list-main{
               float:left;
               width:7.1rem;
               height: auto;
               overflow: auto;
               margin: 0 0.2rem;
           }
           .list-box{
            float:left;
            width:100%;
            height: auto;
            border-top: 0.01rem solid #C4C4C4;
            color:#000;
            padding: 0.2rem 0;
            text-align: left;
            .li-first{
                font-weight: normal;   
            }
            .list-ul{
                float:left;
                width:100%;
                height: 0.6rem;
                line-height: 0.6rem;
                font-size: 0.32rem;
                .list-li{
                    float:left;
                }
                .li-name{
                    width:3.5rem;
                    text-align: left;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    .list-order{
                        color:#000;
                        font-weight: normal;
                    }
                }
                .li-num{
                    width:1.2rem;
                    text-align: center;
                }
            }
            .note{
                float:left;
                width:95%;
                height: 0.5rem;
                line-height: 0.5rem;
                text-align: left;
                color:#000;
                margin-left: 5%;
                font-size: 0.28rem;
                color:#8A8A8A;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .total-name{
                float:left;
                width: auto;
               text-align: left;
                font-size: 0.32rem;
                color: #191814;
            }
            .total-num{
                float:right;
                width: auto;
                text-align: right;
                font-size: 0.4rem;
                color: #D2AC2B; 
                padding-right: 0.2rem;
            }
            .list-box-p{
                font-size: 0.32rem;
                color: #8A8A8A;
                white-space: nowrap;
                overflow: hidden;
                height: 0.6rem;
                line-height: 0.6rem;
                text-overflow: ellipsis;
            }
           }
           .list-box-detail{
               width:100%;
               border:0;
               line-height: 0.3rem;
               float:right;
               color:#8A8A8A;
               text-align: right;
               padding:0.1rem 0;
               .detail-box{
                   float:right;
                   width:auto;
                   height: 0.3rem;
                   margin-right: 0.3rem;
               }
           }
           .detail-top{
               border-top:0.01rem solid #C4C4C4; 
               padding-top:0.15rem;         
            }
            .detail-bottom{
                padding-bottom:0.15rem;
            }
           .list-box-des{
            height: 2.6rem;
            text-align: center;
            font-weight: normal;
            line-height: 0.4rem;
            padding-top:0.4rem;
            border-bottom: 0.01rem solid #C4C4C4;
            color: #191814;
            .des-tt{
                line-height: 0.6rem;
            }
            .adress{
                width:100%;
                height: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                a {
                    color: #191814;
                }
            }
        }
       }
   
    }
        
    .order-model{
        float:left;
        width: 6.2rem;
        height:auto;
        background: red;
        background: #FCFCFC;
        border-radius: 0.24rem;
        position: absolute;
        left:50%;
        top: 50%;
        margin-left: -3.1rem;
        margin-top: -1.63rem;
        color:#191814;
        overflow: auto;
        .order-model-main{
            width:6.2rem;
            height: auto;
            font-size:0.32rem;
            line-height:0.5rem;
            font-weight: normal;
            .model-main-text {
                float: left;
                width:100%;
                line-height: 0.5rem;
                margin: 0.4rem 0;
                height: auto;
                text-align: center;
                // background: green;
            }
        }
        .order-model-footer{
            float:left;
        width:100%;
        height: 0.99rem;
        border-top: 0.01rem solid #C0C0C5;
        .model-li {
            float:left;
            width:50%;
            height: 100%;
            box-sizing: border-box;
            .btn{
                width: 100%;
                height: 100%;
                border:0;
                background: rgba(0,0,0,0);
                font-size: 0.28rem;
                font-weight: bold;
                color:#191814;
            }
            .order-yes-btn a{
                color: #D2AC2B;
            }
        }
        .order-no{
            border-right: 0.01rem solid #C0C0C5;
        }

        }
    }
    .confirmOrder-model{
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height: auto;
        overflow: auto;
        background: #FCFCFC;
        .conOrder-ul{
          float:left;
          width:100%;
          height: auto;
          line-height: 1.1rem;
          color:#000; 
          .order-li{
              float:left;
              width:100%;
              height: 1.1rem;
              border-bottom:0.01rem solid #ccc;
            .order-li-text{
                float:left;
                width:6.3rem;
                height: 1.1rem;
                margin: 0.05rem;
                .text-li-img{
                    float:left;
                    width:1.1rem;
                    height: 1.1rem;
                    margin-right: 0.05rem;
                    .images{
                        float:left;
                        width:0.7rem;
                        margin: 0.2rem;
                    }
                }
                .text-li-des{
                    float:left;
                    width:1.1rem;
                    height: 1.1rem;
                    line-height: 1.1rem;
                    font-size:0.36rem;

                }
            }
            .order-li-close{
                float:right;
                width:1rem;
                height: 1.1rem;
                margin-right: 0.05rem;
                font-size:0.28rem;
                .iconfont{
                    color:#000;
                    font-size:0.42rem
                }
                .icon-selected{
                    color:#D2AC2B;
                }
                .icon-none{
                    color:#191814;               
                }
            }
            .order-li-first{
                text-align: center;
                font-size:0.32rem;
            }
          }
        }

    }
    .confirm-footer{
        float:left;
        width:100%;
        height: 1.2rem;
        margin-top: 0.1rem;
        .btn {
            margin: .18rem auto;
            width: 7.02rem;
            height: .84rem;
            background: #d2ac2b;
            border-radius: .08rem;
            font-size: .36rem;
            color: #fff;
            border: 0;
        }
    }
    .later-time{
        height:7.3rem; 
        overflow:hidden;
    }
    .deliver-top{
        float:left;
        width:100%;
        height: 1rem;
        border-bottom:0.02rem solid #ddd;
        color:#4a4a4a;
        line-height: 1rem;
        .deliver-top-tt{
            float:left;
            width:50%;
            margin: 0 0 0 25%;
            height: 100%;
            text-align: center;
        }
        .deliver-close{
            float:left;
            width: 10%;
            text-align: center;
            height: 100%;
            margin-left: 14%;
            color:#4a4a4a;
            .iconfont{
                color:#4a4a4a;
                font-size:0.36rem;
            }
        }
    }
    .deliver-pick-time{
        float:left; 
        width:50%; 
        height:5rem;
        background: #efefef;
        overflow:scroll; 
        .deliver-day-li{
            float:left;
            width:100%;
            height: 0.9rem;
            line-height: 0.9rem;
            color:#4a4a4a;
            font-size: 0.24rem;
        }
        .day-active{
            background: #fff;
            color: #D2AC2B;
        }
    }
    .data-hour{
        background: #fff;
    }
    .deliver-hour{
        float:left;
        width:90%;
        margin: 0 0 0 5%;
        height: 0.9rem;
        color:#4a4a4a;
        border-bottom:0.02rem solid #ddd;
        font-size:0.24rem;
        line-height: 0.9rem;
        .iconfont{
            color: #D2AC2B;
            text-align: right;
            font-size:0.18rem;
        }
        .sure{
            float:right;
            width:10%;
            height: 100%;
        }
        .hour-min{
            float:left;
            height: 100%;
            width:85%;
        }
    }
    .deliver-time-box{
        float:left;
        width:100%;
        height: 1.1rem;
        border-top:0.02rem solid #ddd;
    }
    .deliver-time-confirn{
        float:left;
        width:96%;
        height: 0.9rem;
        background: #D2AC2B;
        border: 0;
        line-height: 0.9rem;
        color: #fff;
        margin: 0.15rem 2%;
        border-radius: 0.1rem;
        font-size:0.36rem;
    }
    
}

