<template>
  <div class="about">
  <!-- <div class="header-tt">
        <ul class="header-ul">
          <li class="header-li-left">
            <router-link to="/setting">
              <i class="iconfont icon-back1"></i>
            </router-link>
          </li>
          <li class="header-li-middle">
            {{aboutTt}}
          </li>
        </ul>
      </div> -->
      <div class="about-main">
        <div class="about-main-content">
          <p class="about-p" v-for="(content,index) in  contents" :key="index">{{content.tt}}</p>
        </div>
        <div class="about-version">{{aboutVersion}} 1.0.1</div>
      </div>
      <div class="common-left-icon">
        <div class="common-bottom-left" @click="jumpSetting">
            <i class="iconfont icon-back1"></i>
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    name: "about",
    data() {
      return {
        aboutTt: "About",
        aboutVersion: "version",
        contents: [{
          tt: ""
        }, {
          tt: ""
        }, {
          tt: ""
        }, {
          tt: ""
        }]
      };
    },
    mounted: function() {
      this.aboutLoad();
    },
    methods: {
      aboutLoad: function() {
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {
          this.aboutTt = "About";
          this.aboutVersion = "version";
          this.contents[0].tt =
            "Butler is an in-room multi-platform application for hotel guests. It enables guests to view hotel information, order in-room dining and in-hotel shopping items.";
          this.contents[1].tt =
            "It can easily expend features like Service Request, Booking Restaurant, Control Room Devices to extremly increase guest experience.";
          this.contents[2].tt =
            "Should you have any questions, please feel free to contact hotel service center or dial Panora service line 400 921 7086.";
          this.contents[3].tt =
            "HAVEN is the product line brand owned by Panora company.";
        } else {
          this.aboutTt = "关于";
          this.aboutVersion = "版本";
          this.contents[0].tt =
            "巴特勒是酒店客房的多平台应用程序。它可以让客人查看酒店信息、客房用餐秩序和酒店购物项目。";
          this.contents[1].tt =
            "它可以很容易地消耗诸如服务请求、预订餐厅、控制室设备等特征来极力增加客人体验。";
          this.contents[2].tt =
            "如果您有任何问题，请随时与酒店服务中心联系，或拨打PANORA服务线路400 921至7086。";
          this.contents[3].tt = "HAVE是Panora公司旗下的产品线品牌。";
        }
      },
      jumpSetting: function(){
        this.$router.push({path: "/setting"});
      }
    }
  };
</script>

<style scoped>
  .about {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    font-weight: lighter;
  }
  .about-main {
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-top:0.12rem solid rgba(10, 35, 99, 0.9);
    position: relative;
  }
  .about-main-content {
    float: left;
    width: 7.5rem;
    height: 7.78rem;
    border: 0.01rem solid #efefef;
    box-sizing: border-box;
    overflow: auto;
    background: rgba(252, 252, 252, 0.95);
    padding: 0.5rem 0.1rem;
    color: #191814;
    text-align: left;
  }
  .about-p {
    text-indent: 0.5rem;
    font-size: 0.36rem;
    margin: 0.15rem 0;
    line-height: 0.44rem;
    font-weight: normal;
    word-break: break-all;
  }
  .about-version {
    position: absolute;
    bottom: 1.38rem;
    width: 100%;
    height: 1rem;
    text-align: center;
    font-size: 0.4rem;
    color: #d2ac2b;
    line-height: 1rem;
  }
</style>

