<template>
  <div class="messageDetail messageList">
      <!-- <div class="header-tt">
        <ul class="header-ul">
          <li class="header-li-left">
            <router-link to="/messageList">
              <i class="iconfont icon-back1"></i>
            </router-link>
          </li>
          <li class="header-li-middle">
            {{pageStatusText.pageTitle}}
          </li>
        </ul>
      </div> -->
      <div class="messageList-main">
        <div class="msgList-ul">
          <div class="msgDetail-top">
            <span class="msgDetail-top-tt">{{pageStatusText.itemTitle}}</span>
            <span class="msgDetail-top-delete" @click.stop="delMessage"><i class="iconfont icon-delete"></i></span>
          </div>
          <div class="msgDetail-main">
            <div class="msgDetail-des">{{pageStatusText.itemorderNO}} {{msgData.restaurantOrderId}} {{pageStatusText.itemMessageDes}} {{msgData.message}}</div>
            <div class="msgDetail-time">{{msgData.datetime}}</div>
          </div>
        </div>
      </div>
      <div class="common-left-icon">
        <div class="common-bottom-left" @click="jumpMsgDetail">
            <i class="iconfont icon-back1"></i>
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    name: "messageDetail",
    data() {
      return {
        pageStatusText: {
          pageTitle: "Message Detail",
          itemTitle: "Order Message",
          itemorderNO: "Order NO:",
          itemMessageDes: "Message:"
        },
        chineseText: {
          pageTitle: "消息详情",
          itemTitle: "订单消息",
          itemorderNO: "订单编号:",
          itemMessageDes: "消息内容:"
        },
        englistText: {
          pageTitle: "Message Detail",
          itemTitle: "Order Message",
          itemorderNO: "Order NO:",
          itemMessageDes: "Message:"
        },
        route: {
          orderid: "",
          msgid: "",
        },
        msgData: {
          internalOrderId: "",
          restaurantOrderId: "",
          msgid: "",
          status: "",
          datetime: "",
          message: ""
        },
      };
    },
    mounted: function() {
      this.settingLanuage();
      this.getDetailData();
    },
    methods: {
      settingLanuage: function() {
        var that = this;
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          return;
        }
        if (languageSet == "en") {
          that.pageStatusText = JSON.parse(JSON.stringify(that.englistText));
        }
        if (languageSet == "zh-cn") {
          that.pageStatusText = JSON.parse(JSON.stringify(that.chineseText));
        }
      },
      getDetailData: function() {
        var that = this;
        that.route.orderid = that.$route.query.orderid;
        that.route.msgid = that.$route.query.msgid;
        let apiUrl = "/api/junctioncore/v1/customer_order/" + that.route.orderid + "/?";
        that.axios.get(that.$root.domainName + apiUrl + that.$root.junAppName, {}).then(
          function(res) {
            that.dealData(res.data.data);
          },
          function(err) {
            that.showMsg({
              type: "err",
              duration: 2,
              msgText: "网络错误,请重试!"
            });
          }
        );
      },
      dealData: function(data) {
        var that = this;
        var msgid = that.route.msgid;
        that.msgData.internalOrderId = data.internalOrderId;
        that.msgData.restaurantOrderId = data.restaurantOrderId;
        for (let m = 0; m < data.messages.length; m++) {
          if (data.messages[m].id == that.route.msgid) {
            that.msgData.msgid = data.messages[m].id;
            that.msgData.status = data.messages[m].status;
            that.msgData.datetime = that.changeTimes(data.messages[m].timestampUsec);
            that.msgData.message = data.messages[m].message;
            break;
          }
        }
        that.setMessageReaded(that.msgData.msgid);
      },
      setMessageReaded: function(msgid) {
        var that = this;
        let apiUrl = "/api/junctioncore/v1/customer_order_message/" + msgid + "/mark_as_read/?";
        that.axios.post(that.$root.domainName + apiUrl + that.$root.junAppName, {}).then(
          function(res) {
            if (res.data.data.result == "OK") {
              console.log("消息详情:设置消息已读成功!");
            } else {
              console.log("消息详情:设置消息已读失败!");
            }
          },
          function(err) {
            console.log("消息详情:设置消息已读失败:" + JSON.stringify(err));
          }
        );
      },
      //时间格式化
      changeTimes: function(dataTimes) {
        // 时间戳转换成时间格式
        let orderTimes = parseFloat(dataTimes);
        let date = new Date(orderTimes / 1000);
        let Y = date.getFullYear() + '-';
        let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        let D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
        let H = date.getHours() < 10 ? '0' + date.getHours() : date.getHours() + ':';
        let Min = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes() + ':';
        let S = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        let times = Y + M + D + ' ' + H + Min + S;
        return times;
      },
      //删除一条订单消息数据
      delMessage: function() {
        var that = this;
        let apiUrl = "/api/junctioncore/v1/customer_order_message/" + that.msgData.msgid + "/?";
        that.axios.delete(that.$root.domainName + apiUrl + that.$root.junAppName, {}).then(
          function(res) {
            if (res.data.data.result == "OK") {
              that.showMsg({
                type: "suc",
                duration: 2,
                msgText: "删除成功!"
              });
              var s = setTimeout(function() {
                that.$router.back();
              }, 2000);
            } else {
              that.showMsg({
                type: "err",
                duration: 2,
                msgText: "删除失败,请重试!"
              });
            }
          },
          function(err) {
            that.showMsg({
              type: "err",
              duration: 2,
              msgText: "网络错误,请重试!"
            });
          }
        );
      },
      jumpMsgDetail: function(){
        this.$router.push({path: "/messageList"});
      },
    }
  };
</script>


<style src="../css/messageList.scss" lang="scss" scoped>

</style>
