<template>
  <div class="messageList">
   <!-- <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <router-link to="/index">
            <i class="iconfont icon-back1"></i>
          </router-link>
        </li>
        <li class="header-li-middle">
          {{pageStatusText.pageTitle}}
        </li>
      </ul>
    </div> -->
    <div class="messageList-main">
      <div class="msgList-ul">
        <div class="msgList-li" v-for="msgitem in msgLlists" :key="msgitem.id">
          <div class="msg-warn">
            <div class="msg-warn-box">
              <span class="msg-warn-span"><i class="iconfont icon-news"></i><i class="icon-red" v-show="msgitem.status == 'STATUS_UNREAD'"></i></span>
            </div>
          </div>
          <div class="msg-text">
            <div class="msg-text-li" @click.stop="msgListDetail(msgitem.internalOrderId,msgitem.id)">
              <span class="msg-text-li-tt">{{pageStatusText.itemTitle}}</span>
              <span class="msg-text-li-time">{{msgitem.datetime}}</span>
            </div>
            <div class="msg-text-li">
              <div class="msg-text-li-tt msg-des" @click.stop="msgListDetail(msgitem.internalOrderId,msgitem.id)">{{pageStatusText.itemorderNO}} {{msgitem.orderid}} {{pageStatusText.itemMessageDes}} {{msgitem.message}}</div>
              <div class="msg-text-li-time msg-delete" @click.stop="delMessage(msgitem.id)">
                <i class="iconfont icon-delete"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="common-left-icon">
      <div class="common-bottom-left" @click="jumpIndex">
        <i class="iconfont icon-back1"></i>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "messageList",
    data() {
      return {
        pageStatusText: {
          pageTitle: "Message",
          itemTitle: "Order Message",
          itemorderNO: "Order NO:",
          itemMessageDes: "Message:"
        },
        chineseText: {
          pageTitle: "消息",
          itemTitle: "订单消息",
          itemorderNO: "订单编号:",
          itemMessageDes: "消息内容:"
        },
        englistText: {
          pageTitle: "Message",
          itemTitle: "Order Message",
          itemorderNO: "Order NO:",
          itemMessageDes: "Message:"
        },
        messageListTt: "Message",
        msgLlists: []
      };
    },
    mounted: function() {
      this.settingLanuage();
      this.loadListData();
    },
    methods: {
      settingLanuage: function() {
        var that = this;
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          return;
        }
        if (languageSet == "en") {
          that.pageStatusText = JSON.parse(JSON.stringify(that.englistText));
        }
        if (languageSet == "zh-cn") {
          that.pageStatusText = JSON.parse(JSON.stringify(that.chineseText));
        }
      },
      //获取订单列表数据,其中包含订单消息数据
      loadListData: function() {
        var that = this;
        let apiUrl = "/api/junctioncore/v1/customer_order/?type=order&";
        that.axios.get(that.$root.domainName + apiUrl + that.$root.junAppName, {}).then(
          function(res) {
            that.dealData(res.data.data);
          },
          function(err) {
            that.showMsg({
              type: "err",
              duration: 2,
              msgText: "网络错误,请重试!"
            });
          }
        );
      },
      //处理数据,只选取其中需要的订单消息数据,同时调用了时间格式化和按时间排序
      dealData: function(data) {
        var that = this;
        var msgList = [];
        for (let m = 0; m < data.length; m++) {
          if (data[m].messages) {
            for (let n = 0; n < data[m].messages.length; n++) {
              var msgitem = {};
              msgitem.internalOrderId = data[m].internalOrderId;
              msgitem.orderid = data[m].restaurantOrderId;
              msgitem.status = data[m].messages[n].status;
              msgitem.message = data[m].messages[n].message;
              msgitem.id = data[m].messages[n].id;
              msgitem.datetime = that.changeTimes(data[m].messages[n].timestampUsec);
              msgList.push(JSON.parse(JSON.stringify(msgitem)));
            }
          }
        }
        that.msgLlists = that.sortMsgListWithTime(msgList);
      },
      //按时间排序
      sortMsgListWithTime: function(list) {
        list.sort(function(a, b) {
          return Date.parse(b.datetime) - Date.parse(a.datetime);
        });
        return list.slice();
      },
      //时间格式化
      changeTimes: function(dataTimes) {
        // 时间戳转换成时间格式
        let orderTimes = parseFloat(dataTimes);
        let date = new Date(orderTimes / 1000);
        let Y = date.getFullYear() + '-';
        let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        let D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
        let H = date.getHours() < 10 ? '0' + date.getHours() : date.getHours() + ':';
        let Min = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes() + ':';
        let S = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        let times = Y + M + D + ' ' + H + Min + S;
        return times;
      },
      //删除一条订单消息数据
      delMessage: function(msgid) {
        var that = this;
        let apiUrl = "/api/junctioncore/v1/customer_order_message/" + msgid + "/?";
        that.axios.delete(that.$root.domainName + apiUrl + that.$root.junAppName, {}).then(
          function(res) {
            if (res.data.data.result == "OK") {
              that.showMsg({
                type: "suc",
                duration: 2,
                msgText: "删除成功!"
              });
            } else {
              that.showMsg({
                type: "err",
                duration: 2,
                msgText: "删除失败,请重试!"
              });
            }
          },
          function(err) {
            that.showMsg({
              type: "err",
              duration: 2,
              msgText: "网络错误,请重试!"
            });
          }
        );
      },
      //显示提示消息
      showMsg: function(data) {
        var that = this;
        that.$emit("showMsg", data);
      },
      //跳转到详情页面查看详细信息 
      msgListDetail: function(orderid, msgid) {
        this.$router.push({
          path: "/messageDetail",
          query: {
            orderid: orderid,
            msgid: msgid
          }
        });
      },
      jumpIndex: function(){
        this.$router.push({path: "/index"});
      }
    }
  };
</script>
<style src="../css/messageList.scss" lang="scss" scoped>

</style>

